<div id="new_footer">
	<!--PC-->
	<div class="wrap1 m_pd15 hide_tablet hide_mobile">
		<div class="inner1600 clearfix">
			<div class="right">
				
				
				
				<a href="https://www.osulloc.com/kr/ko/login?r=https://www.osulloc.com/kr/ko" class="footer_login" data-track-name="Footer 로그인">로그인</a>
				
				
				<a href="https://www.facebook.com/Jeju.OSULLOC" class="btn-share--circle" style="z-index: 10000;" data-track-name="Footer 오설록 페이스북">
					<img class="hide_tablet hide_mobile" src="/kr/ko/static_renew/images/sns_f.png?quality=80" alt="페이스북">
					<img class="hide_pc" src="/kr/ko/static_renew/images/sns_f_m.png?quality=80" alt="페이스북">
				</a>
				<a href="https://www.instagram.com/osulloc_official/" class="btn-share--circle" style="z-index: 10000;" data-track-name="Footer 오설록 인스타그램">
					<img class="hide_tablet hide_mobile" src="/kr/ko/static_renew/images/sns_i.png?quality=80" alt="인스타그램">
					<img class="hide_pc" src="/kr/ko/static_renew/images/sns_i_m.png?quality=80" alt="인스타그램">
				</a>
			</div>
			<div class="left">
				<span class="tit">공지사항</span>
				<ul class="footer-notice-list-new footer_notice_w">
					
					
					
					<li style="transform: matrix(1, 0, 0, 1, 0, 0);"><p class="footer-notice__p"><a href="https://www.osulloc.com/kr/ko/cs/notice/event/5563" class="footer-notice__a" data-track-name="Footer_M 공지사항">'달이 떴다고 전화를 주시다니요' 이벤트 당첨자 공지</a></p></li>
					
					
					<li style="transform: translate(0%, -100%) matrix(1, 0, 0, 1, 0, 0);"><p class="footer-notice__p"><a href="https://www.osulloc.com/kr/ko/cs/notice/event/5543" class="footer-notice__a" data-track-name="Footer_M 공지사항">'설날 얼리버드 이벤트' 당첨자 공지</a></p></li>
					
					
					<li style="transform: translate(0%, -100%) matrix(1, 0, 0, 1, 0, 0);"><p class="footer-notice__p"><a href="https://www.osulloc.com/kr/ko/cs/notice/news/5523" class="footer-notice__a" data-track-name="Footer_M 공지사항">[공지] CJ대한통운 전국 총파업으로 인한 배송지연 및 불가 안내</a></p></li>
					
					
					<li style="transform: translate(0%, -100%) matrix(1, 0, 0, 1, 0, 0);"><p class="footer-notice__p"><a href="https://www.osulloc.com/kr/ko/cs/notice/event/5503" class="footer-notice__a" data-track-name="Footer_M 공지사항">'OSULLOC TEA AWARDS' 이벤트 당첨자 공지 </a></p></li>
					
					
					<li style="transform: translate(0%, -100%) matrix(1, 0, 0, 1, 0, 0);"><p class="footer-notice__p"><a href="https://www.osulloc.com/kr/ko/cs/notice/news/5483" class="footer-notice__a" data-track-name="Footer_M 공지사항">오설록 티 크리에이터 1기 서류 합격발표 관련 안내</a></p></li>
				
				
				</ul>
				<a href="https://www.osulloc.com/kr/ko/cs/notice" class="more" data-track-name="Footer 공지사항">+ 더보기</a>
			</div>
		</div>
	</div>
	<div class="wrap2 hide_tablet hide_mobile">
		<div class="inner1600 clearfix">
			<div class="left1">
				<div class="tit">고객상담센터 · 주문/배송문의</div>
				<div class="phone" style="margin-top:1px;">080-805-5555</div>
				<div class="time">평일 09:30 - 17:00 (점심 11:30 - 13:00)</div>
			</div>
			<div class="left2">
				<div class="tit">특판, 대량구매 문의</div>
				<div class="phone"><a href="mailto:help@osulloc.com" style="font-weight:700;color:#595959;text-decoration:underline;" data-track-name="Footer 이메일 문의">help@osulloc.com</a><span></span></div>
				<div class="mail" style="line-height:1;">
					<span style="font-family:'Noto_M,sans-serif';font-weight:700;font-size:13px;color:#797979;"><!--010-2515-1979 / -->카카오톡ID : osullocmall</span>
					<p style="margin-top:10px;"><span>평일 09:30 - 17:00 (점심 11:30 - 13:00)</span></p>
				</div>
			</div>
			<div class="right">
				<a href="https://www.osulloc.com/kr/ko/store" data-track-name="Footer 매장안내">
					<img src="/kr/ko/static_renew/images/f1.png?quality=80" alt="매장안내">
					<span>매장안내</span>
				</a>
				<a href="https://www.osulloc.com/kr/ko/cs/member/benefit" data-track-name="Footer 멤버십혜택">
					<img src="/kr/ko/static_renew/images/f2.png?quality=80" alt="멤버십혜택">
					<span>멤버십혜택</span>
				</a>
				<a href="https://www.osulloc.com/kr/ko/cs/faq" data-track-name="Footer FAQ">
					<img src="/kr/ko/static_renew/images/f3.png?quality=80" alt="FAQ">
					<span>FAQ</span>
				</a>
				<a href="https://www.osulloc.com/kr/ko/mypage/qna" data-track-name="Footer 1:1문의">
					<img src="/kr/ko/static_renew/images/f4.png?quality=80" alt="1:1문의">
					<span>1:1문의</span>
				</a>
				<a href="https://www.osulloc.com/kr/ko/beautypoint/list" data-track-name="Footer 뷰티포인트">
					<img src="/kr/ko/static_renew/images/beauti.png" alt="뷰티포인트">
					<span>뷰티포인트<br>추후적립</span>
				</a>
			</div>
		</div>
	</div>
	<div class="wrap3 hide_tablet hide_mobile">
		<div class="inner1600 clearfix">
			<div class="logo"><a href="https://www.osulloc.com/kr/ko/mypage/qna" data-track-name="Footer 1:1문의"><img src="/kr/ko/static_renew/images/f_logo.png?quality=80" alt="1:1문의"></a></div>
			<div class="left">
				<div class="cont1">
					<ul>
						<li><a href="https://www.apgroup.com/int/ko" data-track-name="Footer 회사소개">회사소개</a></li>
						<li><a href="https://www.osulloc.com/kr/ko/misc/terms" data-track-name="Footer 서비스 이용약관">서비스 이용약관</a></li>
						
						<li><a href="https://www.osulloc.com/kr/ko/misc/statement" data-track-name="Footer 개인정보 처리방침"><b>개인정보 처리방침</b></a></li>
						<li><a href="https://www.osulloc.com/kr/ko/misc/procedures" data-track-name="Footer 영상정보 처리방침">영상정보 처리방침</a></li>
						<li><a href="https://www.beautypoint.co.kr/beautypoint/about.do" data-track-name="Footer 뷰티포인트">뷰티포인트</a></li>
						<li><a href="https://www.osulloc.com/kr/ko/mypage/coupon/available/AP" data-track-name="Footer 임직원할인">임직원할인</a></li>
						<li><a href="https://www.osulloc.com/kr/ko/misc/sitemap" data-track-name="Footer 사이트맵">사이트맵</a></li>
						<li><a href="https://www.osulloc.com/kr/ko/cs/notice/announce" data-track-name="Footer 전자공고">전자공고</a></li>
					</ul>
				</div>
				<div class="cont2">
					<div class="address">㈜ 오설록<br>대표이사:서혁제 주소:서울특별시 용산구 한강대로 100, 14층(한강로2가) 사업자등록번호: 390-87-01499
						<a class="info" href="https://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no=3908701499" data-track-name="Footer_M 사업자 정보확인">사업자 정보확인 &gt;</a>
						<br>통신판매업신고번호:2019-서울용산-1173호 호스팅제공자: ㈜오설록
						<br><br>
						(주)오설록은 오설록 브랜드를 제외한 입점 브랜드에 대해서는 통신판매중개자 이며 통신판매의 당사자가 아닙니다. <br>따라서 입점판매자가 등록한 상품정보 및 거래에 대해 책임을 지지 않습니다.
					</div>
					<!-- <a class="info" href="https://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no=3908701499" data-track-name="Footer_M 사업자 정보확인"  >사업자 정보확인 ></a> -->
				</div>
			
			</div>
			<div class="right">
				<div class="box clearfix">
					<div class="tit">(주)이니시스 구매안전서비스</div>
					<div class="note">고객님의 안전거래를 위해 현금 거래에 대해 이니페이 에스크로서비스를 이용하실 수 있습니다.</div>
					<img src="https://image.inicis.com/mkt/certmark/escrow/escrow_43x43_gray.png" border="0" alt="클릭하시면 이니시스 결제시스템의 유효성을 확인하실 수 있습니다." onclick="javascript:window.open('https://mark.inicis.com/mark/escrow_popup.php?mid=osulloc101','mark','scrollbars=no,resizable=no,width=565,height=683');" class="escrow_img">
					<!-- <a href="https://mark.inicis.com/mark/escrow_popup.php?no=68749&st=1414743448" data-track-name="Footer_M 이니시스 서비스 가입 확인"  >서비스 가입사실 확인</a> -->
				</div>
			</div>
		</div>
	</div>
	<!--//PC-->
	
	<!--모바일 m_footer-->
	<div class="m_footer hide_pc">
		<div class="notice_bar">
			<span class="t">공지사항</span>
			<ul class="footer-notice-list-new footer_notice_m">
				
				
				
				<li style="transform: translate(0%, -100%) matrix(1, 0, 0, 1, 0, 0);"><p class="footer-notice__p"><a href="https://www.osulloc.com/kr/ko/cs/notice/event/5543" class="footer-notice__a" data-track-name="Footer_M 공지사항">'설날 얼리버드 이벤트' 당첨자 공지</a></p></li>
				
				
				<li style="transform: translate(0%, -100%) matrix(1, 0, 0, 1, 0, 0);"><p class="footer-notice__p"><a href="https://www.osulloc.com/kr/ko/cs/notice/news/5523" class="footer-notice__a" data-track-name="Footer_M 공지사항">[공지] CJ대한통운 전국 총파업으로 인한 배송지연 및 불가 안내</a></p></li>
				
				
				<li style="transform: matrix(1, 0, 0, 1, 0, 0);"><p class="footer-notice__p"><a href="https://www.osulloc.com/kr/ko/cs/notice/event/5503" class="footer-notice__a" data-track-name="Footer_M 공지사항">'OSULLOC TEA AWARDS' 이벤트 당첨자 공지 </a></p></li>
				
				
				<li style="transform: translate(0%, -100%) matrix(1, 0, 0, 1, 0, 0);"><p class="footer-notice__p"><a href="https://www.osulloc.com/kr/ko/cs/notice/news/5483" class="footer-notice__a" data-track-name="Footer_M 공지사항">오설록 티 크리에이터 1기 서류 합격발표 관련 안내</a></p></li>
			
			
			</ul>
			<a href="/kr/ko/cs/notice" class="btn_viewMore" data-track-name="Footer_M 공지사항">+ 더보기</a>
		</div>
		<div class="func">
			<a href="https://www.osulloc.com/kr/ko/mypage/qna" class="contactUs" data-track-name="Footer_M 고객센터">고객센터</a>
			
			
			
			<a href="https://www.osulloc.com/kr/ko/login?r=https://www.osulloc.com/kr/ko" class="signIn" data-track-name="Footer_M 로그인">로그인</a>
			
			
			<div class="lang js_select">
				<div class="tit menu">한국어</div>
				<ul>
					<li><a class="name" href="/kr/ko">한국어</a></li>
					<li><a class="name" href="/kr/en">English</a></li>
					<li><a class="name" href="/kr/zh">中文</a></li>
				</ul>
			</div>
		</div>
		<div class="certificationInfo">
			<a href="javascript:;"> <span>오설록 사업자 정보확인</span> </a>
			<div class="txt_wrap">
				<p>㈜ 오설록 <br>
					대표이사 : 서혁제
					<br>주소 : 서울 특별시 용산구 한강대로 100, 14층(한강로2가)
					<br>사업자 등록번호 : 390-87-01499
					<br>통신판매업신고번호 : 2019-서울용산-1173호
					<br>호스팅제공자 : ㈜오설록
				</p>
				<p>(주)오설록은 오설록 브랜드를 제외한 입점 브랜드에 대해서는 통신판매중개자 이며 통신판매의 당사자가 아닙니다. <br>따라서 입점판매자가 등록한 상품정보 및 거래에 대해 책임을 지지 않습니다.</p>
				<p>㈜ 이니시스 구매안전서비스 <br>
					고객님의 안전거래를 위해 현금 거래에 대해 이니페이 에스크로 <br>서비스를 이용하실 수 있습니다.</p>
			</div>
		</div>
		<div class="footer_menu">
			<div class="footer_menu_list">
				<a href="https://www.apgroup.com/int/ko" data-track-name="Footer 회사소개">회사소개</a>
				<a href="https://www.osulloc.com/kr/ko/misc/terms" data-track-name="Footer 서비스 이용약관">서비스 이용약관</a>
				<a href="https://www.osulloc.com/kr/ko/misc/statement" data-track-name="Footer 개인정보 처리방침"><b>개인정보 처리방침</b></a>
				<br>
				<a href="https://www.osulloc.com/kr/ko/misc/procedures" data-track-name="Footer 영상정보 처리방침">영상정보 처리방침</a>
				<a href="https://www.beautypoint.co.kr/beautypoint/about.do" data-track-name="Footer 뷰티포인트">뷰티포인트</a>
				<a href="https://www.osulloc.com/kr/ko/mypage/coupon/available/AP" data-track-name="Footer 임직원할인">임직원할인</a>
				<a href="https://www.osulloc.com/kr/ko/misc/sitemap" data-track-name="Footer 사이트맵">사이트맵</a>
				<a href="https://www.osulloc.com/kr/ko/cs/notice/announce" data-track-name="Footer 전자공고">전자공고</a>
			</div>
		</div>
		<!-- 19.12.05 모바일 고객상담센터  추가 -->
		<div class="footbottom">
			<div class="footer_cs_m clearfix">
				<div class="custCenter_Wrap cs_01">
					<div class="tit">고객상담센터 · 주문/배송문의</div>
					<div class="phone">080-805-5555</div>
					<div class="time">평일 09:30 - 17:00 <br>(점심 11:30 - 13:00)</div>
				</div>
				<div class="custCenter_Wrap cs_02"><!--200728 추가-->
					<div class="tit">특판, 대량구매 문의</div>
					<div class="phone">help@osulloc.com</div>
					<div class="kakaotalk">카카오톡ID : osullocmall</div>
					<div class="time">평일 09:30 - 17:00 <br>(점심 11:30 - 13:00)</div>
				</div>
			</div>
			<div class="snsWrap clearfix">
				<!-- <a href="#" class="appDown"> <span>오설록 앱을 <br>다운받아 보세요 </span> </a> -->
				<a href="https://www.facebook.com/Jeju.OSULLOC" class="ic ic-facebook" data-track-name="Footer_M 오설록 페이스북">facebook</a>
				<a href="https://www.instagram.com/osulloc_official/" class="ic ic-insta" data-track-name="Footer_M 오설록 인스타그램">instagram</a>
				<!-- <a href="#" class="ic ic-naver">naver blog</a> -->
			</div>
		</div>
	</div>
	<!--//모바일 m_footer-->
</div>
