<div class="cdj_renew">
	<header id="cdj_header" class="cdj_header">
		<div class="wrapper">
			<div class="inner_box">
				<div class="left_box">
					<h1 class="logo">
						<a href="#" class="logo_white"><img src="/kr/ko/static_cdj/images/main/logo_white.png" alt="오설록 로고"></a>
						<a href="#" class="logo_black"><img src="/kr/ko/static_cdj/images/main/logo_black.png" alt="오설록 로고"></a>
					</h1>
					<nav class="nav">
						<ul class="nav_list_dep1">
							<li class="item_dep1">
								<a href="#" class='link_text'>제품</a>
								<div class="nav_list_dep2_box">
									<div class="wrapper">
										<div class="flex_box">
											<ul class="nav_list_dep2">
												<li class="item_dep2">
													<a href="#" class='link_text'>베스트</a>
													<ul class="nav_list_dep3">
														<li class="item_dep3"><a href="#" class='link_text'>위클리 베스트</a></li>
														<!-- 관리자 지정 메뉴 -->
														<li class="item_dep3"><a href="#" class='link_text'>시즌 추천제품</a></li>
													</ul>
												</li>
												<li class="item_dep2">
													<a href="#" class='link_text'>티 제품</a>
													<ul class="nav_list_dep3">
														<li class="item_dep3"><a href="#" class='link_text'>티 세트</a></li>
														<li class="item_dep3"><a href="#" class='link_text'>명차</a></li>
														<li class="item_dep3"><a href="#" class='link_text'>녹차/말차</a></li>
														<li class="item_dep3"><a href="#" class='link_text'>발효차/홍차</a></li>
														<li class="item_dep3"><a href="#" class='link_text'>블렌디드티</a></li>
														<li class="item_dep3"><a href="#" class='link_text'>허브티</a></li>
														<li class="item_dep3"><a href="#" class='link_text'>밀크티/아이스티</a></li>
													</ul>
												</li>
												<li class="item_dep2">
													<a href="#" class='link_text'>티 푸드</a>
													<ul class="nav_list_dep3">
														<li class="item_dep3"><a href="#" class='link_text'>과자/초콜릿</a></li>
														<li class="item_dep3"><a href="#" class='link_text'>베이커리</a></li>
														<li class="item_dep3"><a href="#" class='link_text'>아이스크림</a></li>
													</ul>
												</li>
												<li class="item_dep2">
													<a href="#" class='link_text'>티 웨어</a>
													<ul class="nav_list_dep3">
														<li class="item_dep3"><a href="#" class='link_text'>용도별</a></li>
														<li class="item_dep3"><a href="#" class='link_text'>브랜드별</a></li>
													</ul>
												</li>
												<li class="item_dep2">
													<a href="#" class='link_text'>라이프스타일</a>
													<ul class="nav_list_dep3">
														<li class="item_dep3"><a href="#" class='link_text'>건강기능식품</a></li>
														<li class="item_dep3"><a href="#" class='link_text'>스킨케어</a></li>
													</ul>
												</li>
											</ul>
											<div class="img_bnr">
												<a href="#"><img src="/kr/ko/static_cdj/images/main/pc_nav_banner.jpg" alt=""></a>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="item_dep1 no-child">
								<a href="#" class='link_text'>선물추천</a>
							</li>
							<li class="item_dep1">
								<a href="#" class='link_text'>다다일상</a>
								<div class="nav_list_dep2_box">
									<div class="wrapper">
										<div class="flex_box">
											<ul class="nav_list_dep2">
												<li class="item_dep2">
													<a href="#" class='link_text'>다다일상 구독</a>
												</li>
												<!--<li class="item_dep2">
													<a href="#" class='link_text'>단품 정기배송</a>
												</li>-->
												<li class="item_dep2">
													<a href="#" class='link_text'>다다일상 기록</a>
												</li>
											</ul>
											<div class="img_bnr">
												<a href="#"><img src="/kr/ko/static_cdj/images/main/pc_nav_banner.jpg" alt=""></a>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="item_dep1">
								<a href="#" class='link_text'>브랜드</a>
								<div class="nav_list_dep2_box">
									<div class="wrapper">
										<div class="flex_box">
											<ul class="nav_list_dep2">
												<li class="item_dep2">
													<a href="#" class='link_text'>오설록 스토리</a>
												</li>
												<li class="item_dep2">
													<a href="#" class='link_text'>제주 티뮤지엄</a>
													<ul class="nav_list_dep3">
														<li class="item_dep3"><a href="#" class='link_text'>둘러보기</a></li>
														<li class="item_dep3"><a href="#" class='link_text'>티스톤 예약</a></li>
														<li class="item_dep3"><a href="#" class='link_text'>제주 오설록 맵</a></li>
													</ul>
												</li>
												<li class="item_dep2">
													<a href="#" class='link_text'>티하우스 북촌</a>
												</li>
											</ul>
											<div class="img_bnr">
												<a href="#"><img src="/kr/ko/static_cdj/images/main/pc_nav_banner.jpg" alt=""></a>
											</div>
										</div>
									</div>
								</div>
							
							</li>
						</ul>
					</nav>
				</div>
				<div class="right_box">
					<ul class="nav_util">
						<li class="item">
							<a class="nav_util_icon icon_search" href="#"></a>
						</li>
						<li class="item">
							<a class="nav_util_icon icon_cart" href="#">
								<span class="num">9</span>
							</a>
						</li>
						<li class="item item_icon_more">
							<a class="nav_util_icon icon_more" href="#"></a>
							<ul class="drop_box drop_box1">
								<li class="drop_item"><a href="#">고객센터</a></li>
								<li class="drop_item"><a href="#">매장찾기</a></li>
								<li class="drop_item"><a href="#">주문배송조회</a></li>
								<li class="drop_item"><a href="#">뷰티포인트 추후적립</a></li>
							</ul>
						</li>
						<li class="item item_icon_mo_nav">
							<a class="nav_util_icon icon_mo_nav" href="#"></a>
						</li>
					</ul>
					<ul class="nav_drop">
						<!-- 로그인 전 노출 : S -->
						<li class="item">
							<a href="#">로그인</a>
							<ul class="drop_box drop_box2">
								<li class="drop_item"><a href="#">로그인</a></li>
								<li class="drop_item"><a href="#">회원가입</a></li>
							</ul>
						</li>
						<!-- 로그인 전 노출 : E -->
						
						<!-- 로그인 후 노출 : S -->
						<li class="item">
							<a href="#">마이페이지</a>
							<ul class="drop_box drop_box3">
								<li class="drop_item"><a href="#">마이페이지</a></li>
								<li class="drop_item"><a href="#">로그아웃</a></li>
							</ul>
						</li>
						<!-- 로그인 후 노출 : E -->
						
						<li class="item arr">
							KOREAN <span class="icon_drop_arr"></span>
							<ul class="drop_box drop_box4">
								<li class="drop_item"><a href="#">한국어</a></li>
								<li class="drop_item"><a href="#">English</a></li>
								<li class="drop_item"><a href="#">中文</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<div class="dim_bg"></div>
	
	
	
	
	<!-- 모바일 NAV : S  -->
	<aside class="cdj_mo_nav">
		<!-- 모바일 메뉴 헤터 : S -->
		<div class="mo_nav_header in">
			<!-- 로그인 전 : S -->
			<div class="logOut_top_box">
				<a href="#" class="text"><span>로그인</span></a>
			</div>
			<!-- 로그인 전 : E -->
			
			<!-- 로그인 후 : S -->
			<div class="logOn_top_box">
				<a href="#" class="mypage_btn"><img src="/kr/ko/static_cdj/images/main/icon_my.png" alt="마이페이지 바로가기"></a>
				<p class="name"><em class="pt">박루리</em>님</p>
				<!-- 등급에 따라 다르게 표시 -->
				<div class="grade_tag">
					<span class="tag_item grade_welcome">Welcome</span>
					<span class="tag_item grade_green">Green</span>
					<span class="tag_item grade_family">Family</span>
					<span class="tag_item grade_vip">VIP</span>
					<span class="tag_item grade_vvip">VVIP</span>
				</div>
			</div>
			<!-- 로그인 후 : E -->
			<button class="mo_nav_close" type="button" title="닫기">
				<img src="/kr/ko/static_cdj/images/main/icon_mo_nav_close.png" alt="닫기">
			</button>
		</div>
		<!-- 모바일 메뉴 헤터 : E -->
		
		
		<div class="mo_nav_body">
			<!-- 유틸 영역 : S -->
			<div class="mo_nav_util in">
				<!-- 로그인 전 : S -->
				<div class="logOut_box">
					<p class="text">가입하고 <em> 15% 쿠폰</em>을 바로 사용해보세요.</p>
					<button type="button" class="join_btn" title="회원가입" onclick="">회원가입</button>
				</div>
				<!-- 로그인 전 : E -->
				
				<!-- 로그인 후 : S -->
				<div class="logOn_box">
					<div class="top">
						<div class="item"><a href="#">주문배송 <span class="count">3</span></a></div>
						<div class="item"><a href="#">장바구니 <span class="count">99</span></a></div>
						<div class="item"><a href="#">찜한상품</a></div>
					</div>
					<div class="bottom">
						<div class="item i_coupon">사용 가능 쿠폰 <span class="num">3</span><span class="unit">장</span></div>
						<div class="item i_point">뷰티포인트 <span class="num">2,100</span><span class="unit">P</span></div>
					</div>
				</div>
				<!-- 로그인 후 : E -->
			</div>
			<!-- 유틸 영역 : E -->
			
			
			<!-- 모바일 네비게이션 : S -->
			<div class="mo_nav">
				<ul class="mo_nav_list_dep1">
					<li class="item_dep1">
						<a href="#" class="link_text">제품</a>
						<ul class="mo_nav_list_dep2">
							<li class="item_dep2"><a href="#" class="link_text">베스트</a></li>
							<li class="item_dep2"><a href="#" class="link_text">티제품</a></li>
							<li class="item_dep2"><a href="#" class="link_text">티푸드</a></li>
							<li class="item_dep2"><a href="#" class="link_text">티웨어</a></li>
							<li class="item_dep2"><a href="#" class="link_text">라이프 스타일</a></li>
						</ul>
					</li>
					<li class="item_dep1">
						<a href="#" class="link_text no_fold">선물추천</a>
					</li>
					<li class="item_dep1">
						<a href="#" class="link_text">다다일상</a>
						<ul class="mo_nav_list_dep2">
							<li class="item_dep2"><a href="#" class="link_text">다다일상 구독</a></li>
							<!--<li class="item_dep2"><a href="#" class="link_text">단품 정기배송</a></li>-->
							<li class="item_dep2"><a href="#" class="link_text">다다일상 기록</a></li>
						</ul>
					</li>
					<li class="item_dep1">
						<a href="#" class="link_text">브랜드</a>
						<ul class="mo_nav_list_dep2">
							<li class="item_dep2"><a href="#" class="link_text">오설록 스토리</a></li>
							<li class="item_dep2"><a href="#" class="link_text">제주 티뮤지엄</a></li>
							<li class="item_dep2"><a href="#" class="link_text">티하우스 북촌</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- 모바일 네비게이션 : E -->
			
			
			<!-- 모바일 메뉴 배너 : S -->
			<div class="mo_nav_banner in">
				<a href="#">
					<img src="/kr/ko/static_cdj/images/main/mo_nav_banner.jpg" alt="">
				</a>
			</div>
			<!-- 모바일 메뉴 배너 : E -->
			
			
			<!-- 하단 링크 영역 : S -->
			<div class="mo_nav_link in">
				<div class="item"><a href="#">매장찾기</a></div>
				<div class="item"><a href="#">공지사항</a></div>
				<div class="item"><a href="#">고객센터</a></div>
				<div class="item"><a href="#">뷰티포인트 추후 적립</a></div>
			</div>
			<!-- 하단 링크 영역 : E -->
			
			
			<!-- 로그아웃 버튼 - 로그인시 노출 : S -->
			<div class="mo_nav_logout">
				<button type="button" title="로그아웃" class="logOut_btn" onclick="">로그아웃</button>
			</div>
			<!-- 로그아웃 버튼 - 로그인시 노출 : E -->
		</div>
	</aside>
	<!-- 모바일 NAV : E  -->

</div>
