<!DOCTYPE html>
<html lang="ko">

<!-- head include -->
<?php require $_SERVER['DOCUMENT_ROOT'].'/kr/ko/html_cdj/layout/head.html'; ?>

<body>

	<!-- header include -->
	<?php require $_SERVER['DOCUMENT_ROOT'].'/kr/ko/html_cdj/layout/header.html'; ?>
	

	<!-- CDJ 개선 마이페이지 취소/반품/교환 - 상세뷰 : S -->
	<main class="main cdj_renew">
		<!-- 뷰 상단 : S -->
		<section class="section">
			<div class="my_view_top">
				<div class="inner_box">
					<div class="top_box">
						<div class="left">
							<div class="text01">
								<!-- 상태에 따라 다르게 노출 됨 -->
								<div>
									<p>취소 번호</p>
									<p>교환 번호</p>
									<p>반품 번호</p>
								</div>
								<span class="num">204039597832</span>
							</div>
						</div>
						<div class="right">
							<!-- 상태에 따라 다르게 노출 됨 -->
							<ul class="state_list">
								<li class="item c2">취소신청</li>
								<li class="item c2">취소완료</li>
								<li class="item c2">교환신청</li>
								<li class="item c2">교환준비중</li>
								<li class="item c2">교환배송완료</li>
								<li class="item c2">교환취소</li>
								<li class="item c2">교환완료</li>
								<li class="item c2">교환불가</li>
								<li class="item c2">반품신청</li>
								<li class="item c2">반품중</li>
								<li class="item c2">반품완료</li>
								<li class="item c2">반품취소</li>
								<li class="item c2">반품불가</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- 뷰 상단 : E -->
		
		
		<!-- 컨텐츠 : S -->
		
		<section class="section my_section">
			<div class="cre_order_num">
				<div class="inner_box">
					<div class="con_box">
						<div class="left">주문 번호<span class="num">204039597832</span></div>
						<p class="right">2022.04.04</p>
					</div>
				</div>
			</div>
		</section>
		
		<section class="section my_section">
			<div class="my_order_prd_list cre">
				<div class="inner_box">
					<h3 class="my_order_tit">
						<div class="left">
							<!-- 상태에 따라 다르게 노출 됨 -->
							<p class="text">취소상품</p>
							<p class="text">교환상품</p>
							<p class="text">반품상품</p>
						</div>
						<div class="right"><p class="text">총 5건</p></div>
					</h3>
					
					<div class="order_prd_list">
						<div class="order_list_box">
							<p class="order_prd_title">일반상품<span class="count">(3개)</span></p>
							<ul class="list_type_2">
								<li class="list_item">
									<div class="thumb_con">
										<div class="img_box"><img src="/kr/ko/static_cdj/images/shop/order_list_prd_thumb01.jpg" alt=""></div>
										<div class="text_box">
											<p class="prd_name">베스트 티 컬렉션 3종</p>
											<p class="packing_state">유료포장 선택안함</p>
											<p class="prd_gifts">사은품 : 페이퍼참(동백) / 페이퍼참(사각)</p>
											<div class="prd_price_amount">
												<span class="price">25,000원</span> / <span class="amount">1개</span>
											</div>
											<button class="btn_cart" type="button" onclick="">장바구니</button>
										</div>
									</div>
								</li>
								<li class="list_item">
									<div class="thumb_con">
										<div class="img_box"><img src="/kr/ko/static_cdj/images/shop/order_list_prd_thumb02.jpg" alt=""></div>
										<div class="text_box">
											<p class="prd_name">달빛걷기 10입(피라미드)</p>
											<p class="packing_state">쇼핑백 부가 서비스</p>
											<p class="prd_gifts">사은품 : 페이퍼참(동백) / 페이퍼참(사각)</p>
											<div class="prd_price_amount">
												<span class="price">75,000원</span> / <span class="amount">3개</span>
											</div>
											<button class="btn_cart" type="button" onclick="">장바구니</button>
										</div>
									</div>
								</li>
								<li class="list_item">
									<div class="thumb_con">
										<div class="img_box"><img src="/kr/ko/static_cdj/images/shop/order_list_prd_thumb03.jpg" alt=""></div>
										<div class="text_box">
											<p class="prd_name">삼다연제주영귤 3입(피라미드)</p>
											<p class="packing_state">유료포장 선택</p>
											<p class="prd_gifts">사은품 : 페이퍼참(동백) / 페이퍼참(사각)</p>
											<div class="prd_price_amount">
												<span class="price">4,500원</span> / <span class="amount">1개</span>
											</div>
											<button class="btn_cart" type="button" onclick="">장바구니</button>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="order_list_box">
							<p class="order_prd_title">베이커리<span class="count">(1개)</span></p>
							<ul class="list_type_2">
								<li class="list_item">
									<div class="thumb_con">
										<div class="img_box"><img src="/kr/ko/static_cdj/images/shop/order_list_prd_thumb04.jpg" alt=""></div>
										<div class="text_box">
											<p class="prd_name">달빛보틀 + 찬물녹차 20입 (아이스티)</p>
											<p class="packing_state">무료포장</p>
											<p class="prd_gifts">사은품 : 페이퍼참(동백) / 페이퍼참(사각)</p>
											<div class="prd_price_amount">
												<span class="price">3,660,000원</span> / <span class="amount">99개</span>
											</div>
											<button class="btn_cart" type="button" onclick="">장바구니</button>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="order_list_box">
							<p class="order_prd_title">입점몰<span class="count">(1개)</span></p>
							<ul class="list_type_2">
								<li class="list_item">
									<div class="thumb_con">
										<div class="img_box"><img src="/kr/ko/static_cdj/images/shop/order_list_prd_thumb04.jpg" alt=""></div>
										<div class="text_box">
											<p class="prd_name">달빛보틀 + 찬물녹차 20입 (아이스티)</p>
											<p class="packing_state">무료포장</p>
											<p class="prd_gifts">사은품 : 페이퍼참(동백) / 페이퍼참(사각)</p>
											<div class="prd_price_amount">
												<span class="price">3,660,000원</span> / <span class="amount">99개</span>
											</div>
											<button class="btn_cart" type="button" onclick="">장바구니</button>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="section my_section my_order_price_wrap">
			<div class="inner_box">
				<div class="my_order_price_box">
					<h3 class="my_order_tit">
						<div class="left">
							<p class="text">
								<span>환불 금액</span>
								<span>주문 금액</span>
							</p>
						</div>
					</h3>
				</div>
				<div class="con_box pay_price_info">
					<div class="price_info">
						<ul class="list">
							<li class="item">
								<div class="top_item">
									<p class="item_name">주문 결제 금액</p>
									<p class="item_val">68,000원</p>
								</div>
								<div class="sub_item">
									<p class="item_name">총 상품 금액</p>
									<p class="item_val">76,000원</p>
								</div>
								<div class="sub_item">
									<p class="item_name">총 할인 혜택</p>
									<p class="item_val prd_sale">-10,000원</p>
								</div>
								<div class="sub_item">
									<p class="item_name">포인트 결제</p>
									<p class="item_val prd_sale">-300원</p>
								</div>
								<div class="sub_item">
									<p class="item_name">배송비</p>
									<p class="item_val">2,500원</p>
								</div>
							</li>
							
							<!-- 차감금액 - 반품일때만 노출 : S -->
							<li class="item">
								<div class="top_item">
									<p class="item_name">차감 금액</p>
									<p class="item_val">8,000원</p>
								</div>
								<div class="sub_item">
									<p class="item_name">배송비</p>
									<p class="item_val">2,500원</p>
								</div>
								<div class="sub_item">
									<p class="item_name">반품 배송비</p>
									<p class="item_val">5,500원</p>
								</div>
							</li>
							<!-- 차감금액 - 반품일때만 노출 : E -->
						</ul>
						
						<!--  취소 / 반품 일때만 노출 : S -->
						<div class="expected_price">
							<p class="item_name">최종 환불 금액</p>
							<p class="item_val">60,000<span class="unit">원</span></p>
						</div>
						<div class="expected_point return_info">
							<!-- 일반결제 : S -->
							<div class="item">
								<p class="item_name">신용카드(신한카드) / 일시불</p>
								<p class="item_val">58,000원</p>
							</div>
							<!-- 일반결제 : E -->
							
							<!-- 무통장 : S -->
							<div class="item">
								<p class="item_name">
									<span class="text01">무통장입금</span>
									<span class="text02">기업 234267405017 (주)오설록</span>
									<span class="text02">2022.04.31까지</span>
								</p>
								<p class="item_val">58,000원</p>
							</div>
							<!-- 무통장 : E -->
							
							<div class="item">
								<p class="item_name">뷰티포인트</p>
								<p class="item_val">2,000원</p>
							</div>
						</div>
						<!--  취소 / 반품 일때만 노출 : E -->
					</div>
				</div>
			</div>
		</section>
		
		<section class="section my_order_info_wrap">
			<div class="inner_box">
				<!-- 취소상태 일떄 노출 : S -->
				<div class="my_order_info_box">
					<h3 class="my_order_tit">
						<div class="left"><p class="text">취소 정보</p></div>
					</h3>
					<div class="con_box">
						<table class="my_table_type01">
							<caption>취소 정보</caption>
							<colgroup class="mo">
								<col style="width:90px;">
								<col>
							</colgroup>
							<colgroup class="pc">
								<col style="width:140px;">
								<col>
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">
										<p class="left">취소 접수</p>
									</th>
									<td>
										<p class="td_text">2022.04.23 (15:45:22)</p>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<p class="left">취소 사유</p>
									</th>
									<td>
										<p class="td_text">고객변심</p>
									</td>
								</tr>
								<tr>
									<th rowspan="3" class="no_border">
										<p class="left">환불 정보</p>
									</th>
									<td>
										<p class="td_text">68,000원 신용카드(국민카드) 승인 취소</p>
										<p class="td_text gray">2022.04.23 (15:45:22)</p>
									</td>
								</tr>
								<tr>
									<td>
										<p class="td_text">쿠폰 재발급 완료</p>
									</td>
								</tr>
								<tr>
									<td class="no_border">
										<p class="td_text">300원 포인트 적립 완료</p>
										<p class="td_text gray">2022.04.23 (15:45:22)</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- 취소상태 일떄 노출 : E -->
				
				<!-- 교환상태 일떄 노출 : S -->
				<div class="my_order_info_box">
					<h3 class="my_order_tit">
						<div class="left"><p class="text">교환 정보</p></div>
					</h3>
					<div class="con_box">
						<table class="my_table_type01">
							<caption>교환 정보</caption>
							<colgroup class="mo">
								<col style="width:90px;">
								<col>
							</colgroup>
							<colgroup class="pc">
								<col style="width:140px;">
								<col>
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">
										<p class="left">교환 접수</p>
									</th>
									<td>
										<p class="td_text">2022.04.23 (15:45:22)</p>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<p class="left">교환 사유</p>
									</th>
									<td>
										<p class="td_text">제품불량(파손, 유통기한 경과 등)</p>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<p class="left">회수지</p>
									</th>
									<td>
										<p class="td_text">박루리/010-2222-3333</p>
										<p class="td_text">[08506] 서울특별시 금천구 가산동 371-50 (가산동) 705호</p>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<p class="left">교환 배송지</p>
									</th>
									<td>
										<p class="td_text">박루리/010-2222-3333</p>
										<p class="td_text">[08506] 서울특별시 금천구 가산동 371-50 (가산동) 705호</p>
										<p class="td_text">집 앞에 놔주세요</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- 교환상태 일떄 노출 : E -->
				
				<!-- 반품상태 일떄 노출 : S -->
				<div class="my_order_info_box">
					<h3 class="my_order_tit">
						<div class="left"><p class="text">반품 정보</p></div>
					</h3>
					<div class="con_box">
						<table class="my_table_type01">
							<caption>반품 정보</caption>
							<colgroup class="mo">
								<col style="width:90px;">
								<col>
							</colgroup>
							<colgroup class="pc">
								<col style="width:140px;">
								<col>
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">
										<p class="left">반품 접수</p>
									</th>
									<td>
										<p class="td_text">2022.04.23 (15:45:22)</p>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<p class="left">반품 사유</p>
									</th>
									<td>
										<p class="td_text">제품불량(파손, 유통기한 경과 등)</p>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<p class="left">반품 상품</p>
									</th>
									<td>
										<p class="td_text"><span class="prd_name">베스트 티 컬렉션 3종</span> / <span class="num">1개</span></p>
										<p class="td_text"><span class="prd_name">달빛걷기 10입(피라미드)</span> / <span class="num">3개</span></p>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<p class="left">회수지</p>
									</th>
									<td>
										<p class="td_text">박루리/010-2222-3333</p>
										<p class="td_text">[08506] 서울특별시 금천구 가산동 371-50 (가산동) 705호</p>
									</td>
								</tr>
								<tr>
									<th rowspan="3" class="no_border">
										<p class="left">환불 정보</p>
									</th>
									<td>
										<p class="td_text">가상계좌 입금</p>
										<p class="td_text gray">2022.04.23 (15:45:22)</p>
									</td>
								</tr>
								<tr>
									<td>
										<p class="td_text">쿠폰 재발급 완료</p>
									</td>
								</tr>
								<tr>
									<td class="no_border">
										<p class="td_text">300원 포인트 적립 완료</p>
										<p class="td_text gray">2022.04.23 (15:45:22)</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- 반품상태 일떄 노출 : E -->
			</div>
		</section>
		
		<section class="section">
			<div class="my_cre_btn">
				<div class="inner_box">
					<div class="btn_box">
						<div class="box"><button type="button" onclick="">목록보기</button></div>
						<div class="box"><button type="button" onclick="">주문상세보기</button></div>
					</div>
				</div>
			</div>
		</section>
		<!-- 컨텐츠 : E -->
		
	</main>
	<!-- CDJ 개선 마이페이지 취소/반품/교환 - 상세뷰 : E -->
	
	
	
	
	<!-- footer include -->
	<?php require $_SERVER['DOCUMENT_ROOT'].'/kr/ko/html_cdj/layout/footer.html'; ?>
</body>
</html>
