<!DOCTYPE html>
<html lang="ko">

<head>
    <?php require("../include/head.html"); ?>
</head>

<body>
    <?php require("../include/skip_navi.html"); ?>
    <?php require("../include/header.html"); ?>

    <!-- container : str-->
    <main id="container" class="container" style="background-color:#eee; padding:30px 0 100px; text-align:center;">
        <div class="contents">
            .container, .contents {width:100%}
            <div class="con_inner_large" style="background-color:#ddd; padding:30px 0 100px; margin-top:30px;" >
                .con_inner_large {max-width:1530px; padding:0 15px;}
                <div class="con_inner_mid" style="background-color:#ccc; padding:30px 0 100px; margin-top:30px;" >
                    .con_inner_mid {max-width:1300px; padding:0 15px;}
                </div>
            </div>
        </div>
    </main>
    <!-- container : end -->
    
    <?php require("../include/footer.html"); ?>
</body>

</html>
