<!doctype html>
<html lang="ko">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	
	<meta property="og:url" content="">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="">
	<meta property="og:image" content="">
	
	<link rel="shortcut icon" href="">
	<link rel="apple-touch-icon" sizes="180x180" href="">
	<link rel="icon" type="image/png" sizes="32x32" href="">
	<link rel="icon" type="image/png" sizes="16x16" href="">
	<link rel="manifest" href="">
	<link rel="mask-icon" href="" color="">
	<meta name="msapplication-TileColor" content="">
	<meta name="theme-color" content="#ffffff">
	
	<link rel="stylesheet" type="text/css" href="/static/front/resources/web/css/fonts.css">
	<link rel="stylesheet" type="text/css" href="/static/front/resources/web/css/common.css">
	<link rel="stylesheet" type="text/css" href="/static/front/resources/web/css/contents.css">
	<link rel="stylesheet" type="text/css" href="/static/front/resources/web/css/main.css">
</head>
<body>
<div id="wrap">
	<!-- header -->
	<?php require $_SERVER['DOCUMENT_ROOT'].'/view/web/include/header.html'; ?>
	<!-- //header -->
	
	<!-- container -->
	<div id="container" class="pdt0 pdb0">
		<div class="contents cocoReviewWrap">
			<!-- 검색 영역 -->
			<div class="searchBox">
				<div class="inp_wrap">
					<div class="inp_text searchType2">
						<input type="text" name="" id="" title="상품 검색" placeholder="키워드 또는 상품명을 검색해 보세요.">
						<button type="button" class="btn_clear"><span>clear</span></button>
						<button type="button" class="btn_search"><span>search</span></button>
					</div>
				</div>
			</div>
			<!-- //검색 영역 -->
			
			<!-- 타이틀 영역 -->
			<div class="titleBox">
				<div class="tit">COCO REVIEW</div>
				<!--<div class="sort">
					<button type="button" class="btnRecent on" onclick="">최신순</button>
					<button type="button" class="btnGrade">높은평점순</button>
				</div>-->
				<div class="sorting">
					<ul>
						<li><a href="javascript:void(0)" class="on">최신순</a></li>
						<li><a href="javascript:void(0)">높은평점순</a></li>
					</ul>
				</div>
			</div>
			<!-- //타이틀 영역 -->
			
			<!-- 리스트 영역 -->
			<div class="listBox">
				<div class="reviewListBox coco">
					<ul>
						<!-- li 반복 -->
						<li>
							<div class="reviewInfo">
								<div class="js_rating ratingM"><span>4</span></div>
							</div>
							<div class="reviewBox">
								<div class="pdtBox">
									<a href="#" class="pdtImg">
										<img src="/static/front/resources/web/images/socialSelling/prd_sample_img2.jpg" alt="">
									</a>
									<div class="pdtTxt">
										<p class="pdtBrand">바닐라코</p>
										<p class="pdtName"><a href="#">클린 잇 제로 클렌징밤 오리지널 대용량 듀오세트(이슬로2)</a></p>
										<p class="pdtPrice"><span class="sale">10%</span>25,200<em>원</em><span class="cost">15,000원</span></p>
									</div>
								</div>
								<div class="reviewCon">
									<div class="reviewImg">
										<ul>
											<li class="imgCutting"><a href="javascript:void(0)" class="imgBox"><img src="/static/front/resources/web/images/temp/photoReviewImg01.jpg" alt=""></a></li>
											<li class="imgCutting"><a href="javascript:void(0)" class="imgBox"><img src="/static/front/resources/web/images/temp/photoReviewImg02.jpg" alt=""></a></li>
											<li class="imgCutting"><a href="javascript:void(0)" class="imgBox"><img src="/static/front/resources/web/images/temp/photoReviewImg03.jpg" alt=""></a></li>
											<li class="imgCutting"><a href="javascript:void(0)" class="imgBox"><img src="/static/front/resources/web/images/temp/photoReviewImg04.jpg" alt=""></a></li>
											<li class="imgCutting"><a href="javascript:void(0)" class="imgBox"><img src="/static/front/resources/web/images/temp/photoReviewImg05.jpg" alt=""></a></li>
										</ul>
									</div>
									<p class="reviewTtl">너무 좋아요</p>
									<p class="reviewCtt">
										바닐라코 크림은 전부터 워낙 유명했어서 살까 말까 고민했었는데, 바코에서 광고하시는 거 보니까 결국 구매하게 바닐라코 크림은 전부터 워낙 유명했어서 살까 말까 고민하였는데 바닐라코 크림은 전부터 워낙 유명했어서 살까 말까 고민했었는데, 바코에서 광고하시는 거 보니까 결국 구매하게 바닐라코 크림은 전부터 워낙 유명했어서 살까 말까 고민하였는데 바닐라코 크림은 전부터 워낙 유명했어서 살까 말까 고민했었는데, 바코에서 광고하시는 거 보니까 결국 구매하게 바닐라코 크림은 전부터 워낙 유명했어서 살까 말까 고민하였는데 바닐라코 크림은 전부터 워낙 유명했어서 살까 말까 고민했었는데, 바코에서 광고하시는 거 보니까 결국 구매하게 바닐라코 크림은 전부터 워낙 유명했어서 살까 말까 고민하였는데 이번에 구매하게되었어요!
									</p>
									<a href="javascript:void(0)" class="reviewMore coco">더 보기</a>
									<div class="flexBox">
										<div class="userPointBox">
											<div class="userPoint">
												<span>아주 촉촉해요</span><span>보정이 잘되요</span><span>영양감이 있어요</span>
											</div>
										</div>
										<p class="reviewDate">2022.11.04</p>
									</div>
									<div class="reviewBtn">
										<!-- cocoEditBtn : 본인 프로필 -->
										<div class="cocoEditBtn">
											<button type="button" onclick="">수정</button>
											<button type="button" onclick="">삭제</button>
										</div>
										<!-- cocoBlockBtn : 타인 프로필 -->
										<div class="cocoBlockBtn">
											<button type="button" onclick="">신고/차단</button>
										</div>
									</div>
								</div>
							</div>
						</li>
						<!-- // li 반복 -->
						
						<!-- li 반복 -->
						<li>
							<div class="reviewInfo">
								<div class="js_rating ratingM"><span>5</span></div>
							</div>
							<div class="reviewBox">
								<div class="pdtBox">
									<a href="#" class="pdtImg">
										<img src="/static/front/resources/web/images/socialSelling/prd_sample_img3.png" alt="">
									</a>
									<div class="pdtTxt">
										<p class="pdtBrand">바닐라코</p>
										<p class="pdtName"><a href="#">클린 잇 제로 클렌징밤 오리지널 대용량 듀오세트(이슬로2)</a></p>
										<p class="pdtPrice"><span class="sale">10%</span>25,200<em>원</em><span class="cost">15,000원</span></p>
									</div>
								</div>
								<div class="reviewCon">
									<div class="reviewImg">
										<ul>
											<li class="imgCutting"><a href="javascript:void(0)" class="imgBox"><img src="/static/front/resources/web/images/temp/photoReviewImg01.jpg" alt=""></a></li>
											<li class="imgCutting"><a href="javascript:void(0)" class="imgBox"><img src="/static/front/resources/web/images/temp/photoReviewImg02.jpg" alt=""></a></li>
											<li class="imgCutting"><a href="javascript:void(0)" class="imgBox"><img src="/static/front/resources/web/images/temp/photoReviewImg03.jpg" alt=""></a></li>
											<li class="imgCutting"><a href="javascript:void(0)" class="imgBox"><img src="/static/front/resources/web/images/temp/photoReviewImg04.jpg" alt=""></a></li>
											<li class="imgCutting"><a href="javascript:void(0)" class="imgBox"><img src="/static/front/resources/web/images/temp/photoReviewImg05.jpg" alt=""></a></li>
										</ul>
									</div>
									<p class="reviewTtl">너무 좋아요</p>
									<p class="reviewCtt">
										바닐라코 크림은 전부터 워낙 유명했어서 살까 말까 고민했었는데, 바코에서 광고하시는 거 보니까 결국 구매하게 바닐라코 크림은 전부터 워낙 유명했어서 살까 말까 고민하였는데 바닐라코 크림은 전부터 워낙 유명했어서 살까 말까 고민했었는데, 바코에서 광고하시는 거 보니까 결국 구매하게 바닐라코 크림은 전부터 워낙 유명했어서 살까 말까 고민하였는데 바닐라코 크림은 전부터 워낙 유명했어서 살까 말까 고민했었는데, 바코에서 광고하시는 거 보니까 결국 구매하게 바닐라코 크림은 전부터 워낙 유명했어서 살까 말까 고민하였는데 바닐라코 크림은 전부터 워낙 유명했어서 살까 말까 고민했었는데, 바코에서 광고하시는 거 보니까 결국 구매하게 바닐라코 크림은 전부터 워낙 유명했어서 살까 말까 고민하였는데 이번에 구매하게되었어요!
									</p>
									<a href="javascript:void(0)" class="reviewMore coco">더 보기</a>
									<div class="flexBox">
										<div class="userPointBox">
											<div class="userPoint">
												<span>아주 촉촉해요</span><span>보정이 잘되요</span><span>영양감이 있어요</span>
											</div>
										</div>
										<p class="reviewDate">2022.11.04</p>
									</div>
									<div class="reviewBtn">
										<!-- cocoEditBtn : 본인 프로필 -->
										<div class="cocoEditBtn">
											<button type="button" onclick="">수정</button>
											<button type="button" onclick="">삭제</button>
										</div>
										<!-- cocoBlockBtn : 타인 프로필 -->
										<div class="cocoBlockBtn">
											<button type="button" onclick="">신고/차단</button>
										</div>
									</div>
								</div>
							</div>
						</li>
						<!-- // li 반복 -->
					</ul>
				</div>
			</div>
			<!-- //리스트 영역 -->
			
			<!-- 페이지내이션 -->
			<div class="paging">
				<a href="#" class="first"><span class="hide">첫페이지</span></a>
				<a href="#" class="prev"><span class="hide">이전페이지</span></a>
				<a href="#">1</a>
				<a href="#" class="active">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">6</a>
				<a href="#">7</a>
				<a href="#">8</a>
				<a href="#">9</a>
				<a href="#">10</a>
				<a href="#" class="next"><span class="hide">다음페이지</span></a>
				<a href="#" class="last"><span class="hide">마지막페이지</span></a>
			</div>
			<!-- //페이지내이션 -->
			
			<!-- 리워드 하단 배너 모음 -->
			<div class="cocoReviewBottomBanner">
				<div class="rewardBannerWrap contents">
					<div class="item">
						<a href="#" class="itemLink">
							<div>
								<p class="tit notoB">리워드 FAQ</p>
								<p class="desc fc88">
									자주 질문하는 사항들을 모아두었어요.<br>
									원하시는 질문과 답변을 찾아보세요.
								</p>
							</div>
						</a>
					</div>
					<div class="item">
						<a href="#" class="itemLink">
							<div>
								<p class="tit notoB">리워드 프로그램 소개</p>
								<p class="desc fc88">
									바닐라닷컴 리워드 프로그램을<br>
									알기 쉽게 소개해 드려요.<br>
									링크 공유만으로 수익을 쌓을 수 있는<br>
									방법을 알아보세요.
								</p>
							</div>
						</a>
					</div>
					<div class="item">
						<a href="#" class="itemLink">
							<div>
								<p class="tit notoB">리워드 프로그램 이용 정책</p>
								<p class="desc fc88">
									바닐라닷컴 리워드 프로그램의 모든 것을<br>
									알려드려요.<br>
									프로그램 내 자세한 이용정책을 알아보세요.
								</p>
							</div>
						</a>
					</div>
				</div>
			</div>
			<!-- //리워드 하단 배너 모음 -->
			
		</div>
	</div>
	<!-- //container -->
	
	
	<!-- footer -->
	<?php require $_SERVER['DOCUMENT_ROOT'].'/view/web/include/footer.html'; ?>
	<!-- //footer -->
	<!-- javascript -->
	<?php require $_SERVER['DOCUMENT_ROOT'].'/view/web/include/javascript_collection.html'; ?>
	<!-- //javascript -->
	
</div>
<!-- //wrap -->

</body>
</html>
