@charset "utf-8"; 


/**
display
**/
.blind, .hide, legend {overflow:hidden; visibility:hidden; position:absolute; width:0; height:0; font-size:0; line-height:0;}
.of_h {overflow:hidden;}
.clear {zoom:1;}
.clear:after {content:''; display:block; clear:both;}


/**
폰트
**/
.NL {font-family:'NotoL';}
.NB {font-family:'NotoB';}
.HL {font-family:'HL';}
.HB {font-family:'HB';}

/* [폰트색상] */
.txt_red {color:#fa5855;}
.txt_blue {color:#39b5b7;}
.txt_basic  {color:#666666;}
.txt_black {color:#222;}
.txt_gray {color:#999999;}

/* [폰트크기] */
.fs12 {font-size:12px !important;}
.fs13 {font-size:13px !important;}
.fs14 {font-size:14px !important;}
.fs15 {font-size:15px !important;}
.fs16 {font-size:16px !important;}
.fs18 {font-size:18px !important;}
.fs20 {font-size:20px !important;}
.fs24 {font-size:24px !important;}

/* [줄간격] */
.lh1 {line-height:1;}
.lh18 {line-height:18px !important;}
.lh30 {line-height:30px !important;}


/**
정렬
**/
.ta_l {text-align:left;}
.ta_c {text-align:center;}
.ta_r {text-align:right;}
.va_t {vertical-align:top;}
.va_m {vertical-align:middle;}
.va_b {vertical-align:bottom;}
.fl_l {float:left;}
.fl_r {float:right;}


/**
MARGIN
**/
.mg0 {margin:0 !important;} .mg10 {margin:10px !important;}
.mgt0 {margin-top:0 !important;} .mgt10 {margin-top:10px !important;} .mgt20 {margin-top:20px !important;}
.mgb0 {margin-bottom:0 !important;} .mgb10 {margin-bottom:10px !important;}
.mgl0 {margin-left:0 !important;} .mgl10 {margin-left:10px !important;}
.mgr0 {margin-right:0 !important;} .mgr10 {margin-right:10px !important;}


/**
PADDING
**/
.pd0 {padding:0 !important;} .pd10 {padding:10px !important;}
.pdt0 {padding-top:0 !important;} .pdt10 {padding-top:10px !important;}
.pdb0 {padding-bottom:0 !important;} .pdb10 {padding-bottom:10px !important;}
.pdl0 {padding-left:0 !important;} .pdl10 {padding-left:10px !important;}
.pdr0 {padding-right:0 !important;} .pdr10 {padding-right:10px !important;}


/**
BORDER
**/
.bgNone {background:none !important;}
.bdNone {border:none !important;}


/**
폼태그
**/
/* [input text] */
.inputType {display:inline-block; vertical-align:middle;}
.inputType input {width:100%; height:40px; padding:0 8px; text-indent:4px; line-height:40px; color:#555; border:1px solid #dcdcdc; outline:none;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;}
.inputType input:focus {color:#222; border-color:#222;}
.inputType input.readOnly {color:#999; border-color:#dcdcdc; background:#eee;}
.inputType input:read-only {color:#999; border-color:#dcdcdc; background:#eee;}
.inputType input.error {border-color:#fa5855;}

/* [select] */
.selectType {display:inline-block; position:relative; width:240px; height:40px; vertical-align:middle; border:1px solid #dcdcdc;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;}
.selectType.open {border-color:#555;}
.selectType .title {overflow:hidden; position:relative; width:100%; height:38px; padding-right:30px; text-align:left; text-indent:15px; text-overflow:ellipsis; line-height:38px; white-space:nowrap; background:#fff url('../images/temp/arr_selectB.png') no-repeat right center;}
.selectType.open .title {background:#fff url('../images/temp/arr_selectT.png') no-repeat right center;}
.selectType .selList {display:none; position:absolute; left:-1px; top:39px; width:100%; border:1px solid #555; border-top:none; background:#fff; opacity:0; filter:alpha(opacity=0);}
.selectType.open .selList {z-index:100; overflow-y:auto; margin-bottom:30px; opacity:1; filter:alpha(opacity=100);
	-webkit-overflow-scrolling:touch;}
.selectType .selList li {position:relative; width:100%; background:#fff;}
.selectType .selList li label {display:inline-block; overflow:hidden; position:relative; width:98%; height:40px; vertical-align:top; text-indent:15px; text-overflow:ellipsis; line-height:40px; color:#555; white-space:nowrap;}
.selectType .selList li .option {position:absolute; left:0; top:0; width:0; height:0; border:0; opacity:0; filter:alpha(opacity=0);
	-webkit-border-radius:0; -moz-border-radius:0; -ms-border-radius:0; -o-border-radius:0; border-radius:0;}
.selectType .selList li:hover {background:#f9f9f9;}
.selectType .selList li:hover label {color:#222;}
.selectType.error {border-color:#fa5855;}
.selectType.disabled {background:#eee;}
.selectType.disabled .title {background-color:transparent; opacity:0.5; filter:alpha(opacity=50); cursor:default;}

/* [checkbox] */
.checkType {display:inline-block; position:relative; margin-right:10px; vertical-align:middle;}
.checkType input {display:inline-block; position:absolute; left:0; top:0; width:16px; height:16px; font-size:12px; line-height:16px; opacity:0; filter:alpha(opacity=0); cursor:pointer;}
.checkType label {display:inline-block; position:relative; z-index:2; height:16px; padding-left:20px; font-size:12px; line-height:16px; background:url('../images/temp/inp_check.png') no-repeat left top;}
.checkType.checked label {background-position:0 -50px;}
.checkType.disabled label {background-position:0 -100px;}
.checkType.readOnly label {background-position:0 -100px;}
.checkType.checked.readOnly label {background-position:0 -150px;}
.checkType_type2 {display:inline-block; position:relative; margin-right:10px; vertical-align:middle;}
.checkType_type2 input {display:block; position:absolute; left:0; top:0; z-index:1; width:16px; height:16px; font-size:14px; line-height:16px; opacity:0; filter:alpha(opacity=0); cursor:pointer;}
.checkType_type2 label {display:block; position:relative; z-index:2; height:16px; padding-left:24px; font-size:14px; line-height:16px;}

/* [radio] */
.radioType {display:inline-block; position:relative; margin-right:10px; vertical-align:middle;}
.radioType input {display:inline-block; position:absolute; left:0; top:0; z-index:1; width:16px; height:16px; font-size:12px; line-height:16px; opacity:0; filter:alpha(opacity=0); cursor:pointer;}
.radioType label {display:inline-block; position:relative; z-index:2; height:16px; padding-left:20px; font-size:12px; line-height:16px; background:url('../images/temp/inp_radio.png') no-repeat left top;}
.radioType_type2 label {padding-left:24px; font-size:14px; line-height:16px; color:#222;}
.radioType.checked label {background-position:0 -50px;}
.radioType.disabled label {background-position:0 -100px;}
.radioType.readOnly label {background-position:0 -100px;}
.radioType.checked.readOnly label {background-position:0 -150px;}

/* [input 오류] */
.inp_error input {border-color:#fa5855;}
p.error {text-indent:10px; font-size:12px; line-height:30px; color:#fa5855;}

/* [텍스트상자] */
.textArea {position:relative;}
.textArea .charCnt {position:absolute; right:20px; bottom:18px; font-size:12px; color:#999; background:inherit;}
.textArea .charCnt em {color:#222;}
textarea {width:100%; min-height:200px; padding:10px; color:#555; font-family:'NotoL'; font-size:14px; line-height:26px; border:1px solid #dcdcdc; outline:none; resize:none;
	-webkit-border-radius:0; -moz-border-radius:0; -ms-border-radius:0; -o-border-radius:0; border-radius:0;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;}
textarea:focus {color:#555; border-color:#222;}
textarea.readOnly {color:#222; border-color:#dcdcdc; background:#eee;}
textarea.error {color:#fa5855; border-color:#fa5855;}

/* [전화번호양식] */
.thrGrop {display:inline-block; vertical-align:middle;}
.thrGrop:after {content:''; display:block; clear:both;}
.thrGrop span {float:left;}
.thrGrop .grBox {width:124px;}
.thrGrop .grBox.fir {width:142px;}
.thrGrop .grBox .select-ul {width:100% !important;}
.thrGrop .grBox input {width:100% !important;}
.thrGrop .grDec {width:16px; text-align:center; line-height:38px; color:#999;}
.thrGrop .checkForm {margin-top:10px;}


/**
BUTTON
**/
.btn_wrap {vertical-align:middle; font-size:0; line-height:0;}

/* [plus type] */
.btnType {display:inline-block; position:relative; margin-right:5px; text-align:center; vertical-align:middle; color:#222; text-transform:uppercase; border-left:1px solid; border-bottom:1px solid; border-color:#222;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;
	-webkit-transition-duration:.3s; -moz-transition-duration:.3s; -ms-transition-duration:.3s; -o-transition-duration:.3s; transition-duration:.3s;}
.btnType:before,
.btnType:after {content:''; display:block; position:absolute; z-index:10; background:#222;
	-webkit-transition:.5s; -moz-transition:.5s; -ms-transition:.5s; -o-transition:.5s; transition:.5s;}
.btnType:before {right:0; bottom:0; width:1px; height:-webkit-calc(100% - 9px); height:calc(100% - 9px);}
.btnType:after {left:0; top:0; height:1px; width:-webkit-calc(100% - 9px); width:calc(100% - 9px);}
.btnType .fl,
.btnType .sfl {position:absolute; left:0; top:0; z-index:2; width:0; height:100%; background:#39b5b7;
	-webkit-transition:.5s; -moz-transition:.5s; -ms-transition:.5s; -o-transition:.5s; transition:.5s;
	-webkit-transition-delay:.1s; -moz-transition-delay:.1s; -ms-transition-delay:.1s; -o-transition-delay:.1s; transition-delay:.1s;}
.btnType .sfl {z-index:1;
	-webkit-transition:.7s; -moz-transition:.7s; -ms-transition:.7s; -o-transition:.7s; transition:.7s;}
.btnType .cross {position:absolute; right:-webkit-calc(50% - 8px); right:calc(50% - 8px); top:-webkit-calc(50% - 8px); top:calc(50% - 8px); z-index:15; width:18px; height:18px;}
.btnType .cross:before,
.btnType .cross:after {content:''; display:block; position:absolute; background:#fff; opacity:0filter:alpha(opacity=0);
	-webkit-transition-duration:.3s; -moz-transition-duration:.3s; -ms-transition-duration:.3s; -o-transition-duration:.3s; transition-duration:.3s;
	-webkit-transition-delay:0s; -moz-transition-delay:0s; -ms-transition-delay:0s; -o-transition-delay:0s; transition-delay:0s;
	-webkit-transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1); -moz-transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1); -ms-transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1); -o-transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1); transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1);}
.btnType .cross:before {left:0px; top:8px; width:100%; height:1px;
	-webkit-transform:translateX(-50px) scaleX(0); -moz-transform:translateX(-50px) scaleX(0); -ms-transform:translateX(-50px) scaleX(0); -o-transform:translateX(-50px) scaleX(0); transform:translateX(-50px) scaleX(0);}
.btnType .cross:after {left:8px; top:0; width:1px; height:100%;
	-webkit-transform:translateY(15px) scaleY(0); -moz-transform:translateY(15px) scaleY(0); -ms-transform:translateY(15px) scaleY(0); -o-transform:translateY(15px) scaleY(0); transform:translateY(15px) scaleY(0);
	-webkit-transition-duration:.4s; -moz-transition-duration:.4s; -ms-transition-duration:.4s; -o-transition-duration:.4s; transition-duration:.4s;}
.btnType i {display:block; position:absolute; right:1px; top:1px; z-index:10;
	-webkit-transition:.5s; -moz-transition:.5s; -ms-transition:.5s; -o-transition:.5s; transition:.5s;}
.btnType i:before,
.btnType i:after {content:''; display:block; position:absolute; left:50%; top:50%; background:#222;}
.btnType i:before {width:9px; height:1px; margin:-1px -4px;}
.btnType i:after {width:1px; height:9px; margin:-5px 0px;}
.btnType p {position:relative; z-index:;
	-webkit-transition:.5s; -moz-transition:.5s; -ms-transition:.5s; -o-transition:.5s; transition:.5s;}

.btnType:hover {border-color:#39b5b7;}
.btnType:hover:before,
.btnType:hover:after {background-color:#39b5b7;}
.btnType:hover:before {height:100%;}
.btnType:hover:after {width:100%;}
.btnType:hover .fl,
.btnType:hover .sfl {width:100%;
	-webkit-transition-delay:0s; -moz-transition-delay:0s; -ms-transition-delay:0s; -o-transition-delay:0s; transition-delay:0s;}
.btnType:hover .fl {
	-webkit-transition:.7s; -moz-transition:.7s; -ms-transition:.7s; -o-transition:.7s; transition:.7s;}
.btnType:hover .sfl {
	-webkit-transition:.5s; -moz-transition:.5s; -ms-transition:.5s; -o-transition:.5s; transition:.5s;}
.btnType:hover .cross:before,
.btnType:hover .cross:after {opacity:1; filter:alpha(opacity=100);
	-webkit-transform:none; -moz-transform:none; -o-transform:none; -ms-transform:none; transform:none;
	-webkit-transition-delay:.1s; -moz-transition-delay:.1s; -o-transition-delay:.1s; -ms-transition-delay:.1s; transition-delay:.1s;}
.btnType:hover .cross:before {
	-webkit-transition-duration:.4s; -moz-transition-duration:.4s; -ms-transition-duration:.4s; -o-transition-duration:.4s; transition-duration:.4s;}
.btnType:hover .cross:after {
	-webkit-transition-duration:.5s; -moz-transition-duration:.5s; -ms-transition-duration:.5s; -o-transition-duration:.5s; transition-duration:.5s;}
.btnType:hover i {
	-webkit-transform:scale(0); -moz-transform:scale(0); -ms-transform:scale(0); -o-transform:scale(0); transform:scale(0);}
.btnType:focus {border-color:#39b5b7;}
.btnType:focus:before,
.btnType:focus:after {background-color:#39b5b7;}
.btnType:focus:before {height:100%;}
.btnType:focus:after {width:100%;}
.btnType:focus .fl,
.btnType:focus .sfl {width:100%;
	-webkit-transition-delay:0s; -moz-transition-delay:0s; -ms-transition-delay:0s; -o-transition-delay:0s; transition-delay:0s;}
.btnType:focus .fl {
	-webkit-transition:.7s; -moz-transition:.7s; -ms-transition:.7s; -o-transition:.7s; transition:.7s;}
.btnType:focus .sfl {
	-webkit-transition:.5s; -moz-transition:.5s; -ms-transition:.5s; -o-transition:.5s; transition:.5s;}
.btnType:focus .cross:before,
.btnType:focus .cross:after {opacity:1; filter:alpha(opacity=100);
	-webkit-transform:none; -moz-transform:none; -ms-transform:none; -o-transform:none; transform:none;
	-webkit-transition-delay:.1s; -moz-transition-delay:.1s; -ms-transition-delay:.1s; -o-transition-delay:.1s; transition-delay:.1s;}
.btnType:focus .cross:before {
	-webkit-transition-duration:.4s; -moz-transition-duration:.4s; -ms-transition-duration:.4s; -o-transition-duration:.4s; transition-duration:.4s;}
.btnType:focus .cross:after {
	-webkit-transition-duration:.5s; -moz-transition-duration:.5s; -ms-transition-duration:.5s; -o-transition-duration:.5s; transition-duration:.5s;}
.btnType:focus i {
	-webkit-transform:scale(0); -moz-transform:scale(0); -ms-transform:scale(0); -o-transform:scale(0); transform:scale(0);}
.btnType.disabled {color:#dcdcdc; border-color:#dcdcdc; cursor:default;}
.btnType.disabled:before,
.btnType.disabled:after {background-color:#dcdcdc;}
.btnType.disabled:before {height:-webkit-calc(100% - 9px); height:calc(100% - 9px);}
.btnType.disabled:after {width:-webkit-calc(100% - 9px); width:calc(100% - 9px);}
.btnType.disabled .fl,
.btnType.disabled .sfl,
.btnType.disabled .cross {opacity:0; filter:alpha(opacity=0);}
.btnType.disabled i:before,
.btnType.disabled i:after {background-color:#dcdcdc;}
.btnType.disabled:focus i {
	-webkit-transform:scale(1); -moz-transform:scale(1); -ms-transform:scale(1); -o-transform:scale(1); transform:scale(1);}
.btnType.disabled:hover i {
	-webkit-transform:scale(1); -moz-transform:scale(1); -ms-transform:scale(1); -o-transform:scale(1); transform:scale(1);}

/* [btn size] */
.btnSizeL {min-width:180px; height:48px; font-size:16px; line-height:46px;}
.btnSizeM {min-width:140px; height:40px; padding:0 10px; font-size:14px; line-height:38px;}
.btnSizeS {min-width:100px; height:30px; padding:0 8px; font-size:13px; line-height:28px;}
.btnSizeXS {min-width:80px; height:20px; font-size:11px; line-height:18px;}


/**
GRADE
**/
/* [별점] */
.rating_star .starPoint {display:inline-block; width:78px; height:14px; vertical-align:middle; font-size:0; color:transparent; background:url('../images/temp/rating.png') no-repeat;}
.rating_star .starPoint.p5 {background-position:0 0;}
.rating_star .starPoint.p4 {background-position:0 -25px;}
.rating_star .starPoint.p3 {background-position:0 -50px;}
.rating_star .starPoint.p2 {background-position:0 -75px;}
.rating_star .starPoint.p1 {background-position:0 -100px;}
.rating_star .starPoint.p0 {background-position:0 -125px;}
.rating_star .totalCount {display:inline-block; margin-left:10px; vertical-align:middle; font-size:12px; color:#222;}


/**
TAB
**/
/* [tab type] */
.tabType {}
.tabType ul {font-size:0; line-height:0;}
.tabType ul:after {content:''; display:block; clear:both;}
.tabType li {display:inline-block; padding:0 12px;}
.tabType li a {display:block; position:relative; font-size:16px; line-height:24px; color:#999999;}
.tabType li a:after {content:''; display:block; position:absolute; left:0%; bottom:0; width:0; height:1px; background:#222; 
	-webkit-transform:translateX(-0%); -moz-transform:translateX(-0%); -ms-transform:translateX(-0%); -o-transform:translateX(-0%); transform:translateX(-0%);}
.tabType li.on a,
.tabType li a:hover {color:#222;}
.tabType li.on a:after,
.tabType li a:hover:after {width:100%;}


/**
TABLE
**/
/* [table form] */
.tblType_form {}
.tblType_form.borderB {border-bottom:1px solid #eee;}
.tblType_form.borderT {border-top:1px solid #222;}
.tblType_form th {padding:10px 0; text-align:left; vertical-align:top; line-height:40px;}
.tblType_form td {padding:10px 0;}
.tblType_form .borderT th,
.tblType_form .borderT td {padding-top:30px; border-top:1px solid #eee;}
.tblType_form .txt th {line-height:24px;}
.tblType_form .recently_deli .selectType {width:100%;}
.tblType_form.bd th,
.tblType_form.bd td {padding:30px 0; border-top:1px solid #eee;}
.tblType_form.bd tr:first-child th,
.tblType_form.bd tr:first-child td {border-top:0;}


/**
PAGING
**/
.paging {text-align:center; font-size:0; line-height:0;}
.paging a,
.paging span {display:inline-block; height:14px; padding:0 7px; vertical-align:middle; font-family:'HL'; font-size:14px; line-height:14px;}
.paging a img {vertical-align:top}
.paging span a {padding:0;}
.paging span.first,
.paging span.prev,
.paging span.next,
.paging span.last {padding:0;}
.paging span.first {margin-right:9px;}
.paging span.prev {margin-right:9px;}
.paging span.next {margin-left:9px;}
.paging span.last {margin-left:9px;}
.paging a {color:#999;}
.paging a:hover {color:#222;}
.paging .current {position:relative; padding-right:35px; margin-right:8px; color:#222;}
.paging .current:after {content:''; display:block; position:absolute; right:0; top:50%; width:20px; height:2px; margin-top:-1px; background:#dddddd;}


/**
LAYOUT
**/
/* skip navigation */
.skipNavi {position:relative; z-index:9999;}
.skipNavi li {position:absolute; left:0; top:0; width:100%;}
.skipNavi li a {display:block; width:1px; height:1px; overflow:hidden; font-size:14px;}
.skipNavi li a:focus,
.skipNavi li a:active {width:100%; height:auto; padding:7px 0; text-align:center; color:#fff; border:1px solid #e5253a; background:#f54a7e;}

/* header */
#header {}

/* container, contents */
#container {}
#container .contents {}

/* footer */
#footer {}