<!DOCTYPE html>
<html lang="ko">
<head>
	<?php require("../include/head.html"); ?>
</head>
<body>

<div class="container">
	<?php require("../include/fix_nav.html"); ?>
	<?php require("../include/user_info.html"); ?>
	
	<!-- location : str -->
	<div class="location">
		<span class="page_node">
			<em>Depth1</em><em class="current">Depth2</em>
		</span>
	</div>
	<!-- location : end -->
	
	<div class="content_wrap" style="min-height:100vh;padding-top:100px;background:#efefef;color:#777;font-size:30px;text-align:center;">
		Content Area
	</div>
</div>

</body>
</html>
