@charset "utf-8";

/* font */
@font-face {
  font-family: 'notoL';
  font-style: normal;
  font-weight: 300;
  src:url(../../fonts/lite/NotoSans-Light.woff2) format('woff2'),
  url(../../fonts/lite/NotoSans-Light.woff) format('woff'),
  url(../../fonts/lite/NotoSans-Light.otf) format('opentype');
}
@font-face {
  font-family: 'notoR';
  font-style: normal;
  font-weight: 400;
  src:url(../../fonts/lite/NotoSansKR-Regular.subset.woff2) format('woff2'),
  url(../../fonts/lite/NotoSans-Regular.woff) format('woff'),
  url(../../fonts/lite/NotoSans-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'notoM';
  font-style: normal;
  font-weight: 500;
  src:url(../../fonts/lite/NotoSans-Medium.woff2) format('woff2'),
  url(../../fonts/lite/NotoSans-Medium.woff) format('woff'),
  url(../../fonts/lite/NotoSans-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'notoBo';
  font-style: normal;
  font-weight: 700;
  src:url(../../fonts/lite/NotoSansKR-Bold.woff2) format('woff2'),
  url(../../fonts/lite/NotoSansKR-Bold.woff) format('woff'),
  url(../../fonts/lite/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'notoBl';
  font-style: normal;
  font-weight: 900;
  src:url(../../fonts/lite/NotoSansKR-Black.woff2) format('woff2'),
  url(../../fonts/lite/NotoSansKR-Black.woff) format('woff'),
  url(../../fonts/lite/NotoSansKR-Black.otf) format('opentype');
}
@font-face {
  font-family: 'gmL';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gmM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gmB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* common : str */
.prdDetailConWrap2 {font-family: 'notoR';}
.prdDetailConWrap2 h1,
.prdDetailConWrap2 h2,
.prdDetailConWrap2 h3,
.prdDetailConWrap2 h4,
.prdDetailConWrap2 h5,
.prdDetailConWrap2 strong,
.prdDetailConWrap2 b,
.prdDetailConWrap2 th {font-family: 'notoM';}
.prdDetailConWrap2 img {display:block;width:100%;}
.prdDetailConWrap2 .prd_sec {margin-top:2.5rem;color:#000;}
.prdDetailConWrap2 .mt0 {margin-top:0;}
.prdDetailConWrap2 .mt5 {margin-top:0.25rem;}
.prdDetailConWrap2 .mt10 {margin-top:0.5rem;}
.prdDetailConWrap2 .mt15 {margin-top:0.75rem;}
.prdDetailConWrap2 .mt20 {margin-top:1rem;}
.prdDetailConWrap2 .mt25 {margin-top:1.25rem;}
.prdDetailConWrap2 .mt30 {margin-top:1.5rem;}
.prdDetailConWrap2 .mt35 {margin-top:1.75rem;}
.prdDetailConWrap2 .mt40 {margin-top:2rem;}
.prdDetailConWrap2 .mt45 {margin-top:2.25rem;}
.prdDetailConWrap2 .mt50 {margin-top:2.5rem;}
.prdDetailConWrap2 .mt55 {margin-top:2.75rem;}
.prdDetailConWrap2 .mt60 {margin-top:3rem;}
.prdDetailConWrap2 .mt65 {margin-top:3.25rem;}
.prdDetailConWrap2 .mt70 {margin-top:3.5rem;}
.prdDetailConWrap2 .mt75 {margin-top:3.75rem;}
.prdDetailConWrap2 .mt80 {margin-top:4rem;}
.prdDetailConWrap2 .mt85 {margin-top:4.25rem;}
.prdDetailConWrap2 .mt90 {margin-top:4.5rem;}
.prdDetailConWrap2 .mt95 {margin-top:4.75rem;}
.prdDetailConWrap2 .mt100 {margin-top:5rem;}
.prdDetailConWrap2 .lh1 {line-height:1;}
.prdDetailConWrap2 .lsm50 {letter-spacing:-0.05em;}
.prdDetailConWrap2 .notoBo {font-family:'notoBo';}
.prdDetailConWrap2 .notoBl {font-family:'notoBl';}
.prdDetailConWrap2 .gmL {font-family:'gmL';}
.prdDetailConWrap2 .gmM {font-family:'gmM';}
.prdDetailConWrap2 .gmB {font-family:'gmB';}
.prdDetailConWrap2 br {font-family:'notoM';}
.prdDetailConWrap2 .textW {color:#fff;}
.prdDetailConWrap2 .textB {color:#000;}
.prdDetailConWrap2 .w780 {max-width:780px !important;margin:0 auto;}
.prdDetailConWrap2 .prd_inner {padding:0 2rem;box-sizing:border-box;}
.prdDetailConWrap2 .remark_text14 {font-size:0.7rem;color:#000;letter-spacing:-0.075em;text-align:center;line-height:1.3;word-break:keep-all;}
.prdDetailConWrap2 .remark_text16 {font-size:0.8rem;color:#000;letter-spacing:-0.075em;text-align:center;line-height:1.3;word-break:keep-all;}
.prdDetailConWrap2 .remark_text18 {font-size:0.9rem;color:#000;letter-spacing:-0.075em;text-align:center;line-height:1.3;word-break:keep-all;}
.prdDetailConWrap2 .remark_text20 {font-size:1rem;color:#000;letter-spacing:-0.075em;text-align:center;line-height:1.3;word-break:keep-all;}
.prdDetailConWrap2 .mark_align {display:inline-block;padding:0 0.1em 0.1em;line-height:1;}
.prdDetailConWrap2 .mark_align02 {display:inline-block;padding:0.25rem;line-height:1;}
.prdDetailConWrap2 .minus_m {margin-left:-2rem;margin-right:-2rem;}
.prdDetailConWrap2 .underLine {position:relative;}
.prdDetailConWrap2 .underLine .underLine_inner {position:relative;z-index:2;}
.prdDetailConWrap2 .underLine::after {content:'';position:absolute;width:100%;height:1rem;left:0;top:62%;background:#FDFE55;z-index:1;}
.prdDetailConWrap2 .gif_box_0 {position:absolute;top:0;left:0;width:100%;}
.prdDetailConWrap2 .gif_box_50 {position:absolute;top:0;left:50%;transform:translateX(-50%);width:100%;}
.prdDetailConWrap2 .blink {
  -webkit-animation: 1s linear infinite blink_effect;
  animation: 1s linear infinite blink_effect;
}

@-webkit-keyframes blink_effect {
  0% {visibility: hidden;}
  50% {visibility: hidden;}
  100% {visibility: visible;}
}

@keyframes blink_effect {
  0% {visibility: hidden;}
  50% {visibility: hidden;}
  100% {visibility: visible;}
}
.prdDetailConWrap2 .dotT {position:relative;}
.prdDetailConWrap2 .dotT::before {content:'';position:absolute;width:0.4rem;height:0.4rem;border-radius:100%;top:-0.1rem;left:50%;transform:translateX(-50%);background:#F187A4;}

/* common : end */


/* 페이지 타이틀 - h3영역 */
.prd_page_tit01 {padding:1rem 0;border-top:1px solid #000;border-bottom:1px solid #000;text-align:center;letter-spacing:-0.05em;line-height:1.13;}
.prd_page_tit01 .text_sm {font-size:1.3rem;}
.prd_page_tit01 .text_md {font-size:2rem;}
.prd_page_tit01 .text_lg {font-size:3rem;}

.prd_page_tit02 {position:relative;padding:2.25rem 0 0.9rem;background:#ebebeb;text-align:center;line-height:1.2;}
.prd_page_tit02 .text_sm {font-size:1.5rem;}
.prd_page_tit02 .text_md {font-size:2.5rem;}
.prd_page_tit02 .number {position:absolute;width:8.25rem;height:2.5rem;top:-1.25rem;left:50%;transform:translateX(-50%);color:#fff;line-height:2.6rem;}

.prd_page_tit03 {position: relative; box-sizing: border-box; padding: .75rem 0; margin-bottom: 2rem; font-size: 2.5rem; line-height: 1.28; font-family: 'notoM';}
.prd_page_tit03:after {content: ''; display: inline-block; position: absolute; bottom: -2rem; left: 50%; transform: translateX(-50%); width: 0; height: 0; border-top: 2rem solid #000; border-bottom: none; border-right: 1.25rem solid transparent; border-left: 1.25rem solid transparent;}

/* prd_page_tit04 */
.prd_page_tit04 {line-height: 1.3; padding-bottom: 0.5rem; border-bottom: 0.1rem solid #000;}
.prd_page_tit04 .text_lg {font-size: 2.5rem;}
.prd_page_tit04 .text_md {font-size: 1.5rem;}

/* 페이지 서브 타이틀 */
.prd_sub_tit01 {text-align:center;color:#000;font-size:1.8rem;letter-spacing:0.1em;}
.prd_sub_tit01 span {position:relative;display:inline-block;padding:0 5px;}
.prd_sub_tit01 span::after {content:'';position:absolute;top:60%;left:0;width:100%;height:10px;background:#f5f72a;z-index:-1;}

/* 화해, 글로우픽 포인트 컬러 */
.hh_ptColor {color:#53D3D6;}
.gp_ptColor {color:#EB2135;}

/* top - 키비주얼영역 */
.prd_top_type01 .top_text_box {padding:3rem 0;}
.prd_top_type01 .top_text_box .top_tit {text-align:center;}
.prd_top_type01 .top_text_box .top_tit .text_md {font-size:1.9rem;line-height:1.3;letter-spacing:-0.05em;}
.prd_top_type01 .top_text_box .top_tit .text_lg {font-size:3.5rem;line-height:1.2;letter-spacing:-0.06em;}
.prd_top_type01 .top_text_box .top_tit .text_gm {font-size:1.4rem;line-height:1;letter-spacing: 0.05em;}

/* 텍스트 롤링 */
/* prd_rolling_text01 */
.prd_rolling_text01 .rolling_box {width:100%;height:3.5rem;overflow:hidden;position:relative;line-height:3.5rem;}
.prd_rolling_text01 .rolling_box .rolling_list {position:absolute;white-space:nowrap;animation:marquee 10s linear infinite;}
.prd_rolling_text01 .rolling_box .rolling_list .rolling_item span {padding:0 0.7rem;font-size:1.7rem;letter-spacing:0.1em;}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

/* prd_rolling_text02 */
.prd_rolling_text02 .rolling_con {position:relative;height:3.5rem;overflow:hidden;}
.prd_rolling_text02 .rolling_wrap {position:absolute;top:0;left:0;display:flex;width:auto;max-width:none;}
.prd_rolling_text02 .rolling_box {display:flex;flex-wrap:nowrap;width:auto;height:3.5rem;overflow:hidden;position:relative;line-height:3.5rem;flex:0 0 auto;}
.prd_rolling_text02 .rolling_box .item {padding:0 0.6rem;font-size:1.6rem;letter-spacing:0.1em;flex:0 0 auto;}
.prd_rolling_text02 .rolling_box .item span {display:block;white-space:nowrap;}
.prd_rolling_text02 .rolling_wrap.animated {
  animation-name: marquee2;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes marquee2 {
  0% {
    transform:translateX(0);
  }
  100% {
    transform:translateX(-100%);
  }
}

/* 포인트영역 */
/* prd_point_type01 */
.prd_point_type01 .point_tit {display:flex;align-items:center;padding:0.5rem 2rem;background:#ddd;}
.prd_point_type01 .point_tit .point_icon {flex:0 0 7rem;width:7rem;}
.prd_point_type01 .point_tit .point_icon img {display:block;width:100%;}
.prd_point_type01 .point_tit .point_text {padding-left:1.5rem;font-family:'notoM';font-size:1.8rem;line-height:1.2;letter-spacing:-0.04em;}
.prd_point_type01 .point_tit .point_text span {font-size:2.6rem;}
.prd_point_type01 .point_desc {font-size:1.5rem;color:#000;text-align:center;letter-spacing:-0.05em;}
.prd_point_type01 .point_img {padding:0 1.2rem;}

/* prd_point_type02 */
.prd_point_type02 .point_tit {display:flex; padding-left:1.5rem;font-size:3rem;letter-spacing:0.05em;box-sizing:border-box;align-items:baseline;}
.prd_point_type02 .point_tit .text {flex:0 0 14.5rem;width:14.5rem;}
.prd_point_type02 .point_tit .line {flex:1 1 auto;width:1%;height:1px;background:#9B8177;display:block;}
.prd_point_type02 .point_sub_tit {text-align:center;line-height:1.22;}
.prd_point_type02 .point_sub_tit .text_md {font-family:'notoM';font-size:2.3rem;}
.prd_point_type02 .point_sub_tit .text_lg {font-size:3.1rem;}
.prd_point_type02 .point_desc {font-size:1.4rem;line-height:1.57;text-align:center;}

/* prd_point_type03 */
.prd_point_type03 .point_tit {padding:0.75rem 0 1rem;text-align:center;}
.prd_point_type03 .point_tit .point_num {font-size:1.5rem;letter-spacing:0.05em;}
.prd_point_type03 .point_tit .point_num .underLine::after {background:#ECDAC3;height:0.6rem;top:64%;}
.prd_point_type03 .point_tit .point_text {line-height:1.25;font-size:2.6rem;font-family:'notoM';}
.prd_point_type03 .point_desc {font-size:1.5rem;color:#000;text-align:center;letter-spacing:-0.05em;}

/* prd_point_type04 */
.prd_point_type04 .point_tit {position: relative; text-align: center; font-size: 1.6rem; letter-spacing: 0.05em; font-family:'Abril Fatface', cursive;}
.prd_point_type04 .point_tit .tit_inner {position: relative; display: block; max-width: 22rem; margin: 0 auto;}
.prd_point_type04 .point_tit .tit_inner::after {content: ""; display: block; position: absolute; bottom: 0.4rem; left: 0; width: 100%; height: 1px;}
.prd_point_type04 .point_sub_tit {text-align: center; line-height: 1.5; letter-spacing: -0.05em;}
.prd_point_type04 .point_sub_tit .text_md {font-size: 1.5rem;}
.prd_point_type04 .point_sub_tit .text_lg {font-size: 2.0rem;}
.prd_point_type04 .point_desc {font-family: 'notoM', sans-serif; font-size: 1.4rem; line-height: 1.5; text-align: center;}

/* prd_point_type05 */
.prd_point_type05 .point_tit_box {padding: 2.5rem 0; text-align: center;}
.prd_point_type05 .point_tit_box .text01 {display: inline-block; position: relative; font-size: 2.8rem; padding: 0 0.5rem;}
.prd_point_type05 .point_tit_box .text01:after {z-index: -1; content: ""; display: block; position: absolute; bottom: 0; left: 0; width: 100%; height: 1.85rem; background: #EBFFC4;}
.prd_point_type05 .point_tit_box .text02 {font-family: 'notoR', sans-serif; font-size: 1.4rem; letter-spacing: 0.1em;}
.prd_point_type05 .point_box {padding: 1.5rem 0; text-align: center;}
.prd_point_type05 .point_box .ico_box {width: 8rem; margin: 0 auto;}
.prd_point_type05 .point_box .text_box .text01 {font-size: 2.2rem; line-height: 1.3;}
.prd_point_type05 .point_box .text_box .text02 {font-family: 'notoM' , sans-serif; font-size: 1.5rem; line-height: 1.5; letter-spacing: -0.07em;}

/* prd_point_type06 */
.prd_point_type06 .point_tit {padding:1.5rem 0;text-align:center;font-family:'notoM';}
.prd_point_type06 .point_tit .text01 {font-size:2.2rem;}
.prd_point_type06 .point_tit .text02{font-size:2.6rem;}
.prd_point_type06 .point_box {display:flex;align-items:center;justify-content:space-between;padding:2.5rem 2rem;}
.prd_point_type06 .point_box.bgC {background:#FBF4F7;}
.prd_point_type06 .point_box .point_icon {flex:0 0 7.5rem;width:7.5rem;margin-right:1.5rem;}
.prd_point_type06 .point_box .point_desc {flex:1 1 auto;width:1%;}
.prd_point_type06 .point_box .point_desc .tit {font-size:2rem;line-height:1.35;padding-bottom:0.75rem;border-bottom:2px solid #DD648F;}
.prd_point_type06 .point_box .point_desc .text {font-size:1.4rem;line-height:1.5;font-family:'notoM';color:#4D4D4D;word-break:keep-all;}

/* prd_point_type07 */
.prd_point_type07 .point_tit {position: relative; padding: 1.25rem 0 1.25rem 5rem; font-size: 2rem; line-height: 1.3; letter-spacing: -.05em;}
.prd_point_type07 .point_tit .num {position: absolute; top: 1.25rem; left: 1rem; width: 3.2rem; height: 3.2rem; line-height: 3.2rem; font-size: 1.5rem; letter-spacing: -.05em; border-radius: 50%; text-align: center;}

/* 리뷰영역 */
/* prd_review_type01 */
.prd_review_type01 {text-align:center;}
.prd_review_type01 .review_box {padding:1.5rem 0;border-radius:0.5rem;}
.prd_review_type01 .text01 {font-size:1.5rem;line-height:1.53;}
.prd_review_type01 .text02 {font-size:0.9rem;}

/* prd_review_type02 */
.prd_review_type02 {text-align:center;}
.prd_review_type02 .review_box {padding:1.5rem 0;border-bottom:2px dotted #94C0E5;}
.prd_review_type02 .review_box:last-child {border-bottom:none;}
.prd_review_type02 .text01 {font-size:1.5rem;line-height:1.6;}
.prd_review_type02 .text02 {font-size:0.9rem;}
.prd_review_type02 .text02 .star_color {color:#94C0E5;}


/* 실험결과표 */
/* prd_table_type01 */
.prd_table_type01 .table_box {border-top:2px solid #000;border-bottom:2px solid #000;}
.prd_table_type01 .table_box .table_item {display:flex;justify-content:space-between;align-items:center;padding:0.65rem 0;border-bottom:1px solid #000;}
.prd_table_type01 .table_box .table_item:last-child {border-bottom:0;}
.prd_table_type01 .table_box .table_item .text {padding-left:0.25rem;font-size:1.6rem;}
.prd_table_type01 .table_box .table_item .percent {position:relative;font-size:3.6rem;padding-right:5px;line-height:1;}
.prd_table_type01 .table_box .table_item .percent::after {content:'';position:absolute;width:100%;height:1.5rem;top:52%;left:0;background:#ffdede;z-index:-1;}
.prd_table_type01 .table_box .table_item .percent span {font-size:1.8rem;}

/* prd_table_type02 */
.prd_table_type02 {position: relative;background: #fff; padding: 1.25rem 1.5rem; border: 1px solid #342C2C; box-shadow: .75rem .75rem rgba(128, 123, 123, .9);}
.prd_table_type02 .table_item {position: relative;}
.prd_table_type02 .table_item.full:after {content: ''; display: block; width: 100%; height: 1.5rem; background: #000; border-radius: 50px;}
.prd_table_type02 .table_item.perN:after {content: ''; display: block; width: 100%; height: 1.5rem; background: #ebebeb; border-radius: 50px;}
.prd_table_type02 .table_item.perN::before {content: ''; display: block; height: 1.5rem; position: absolute; bottom: 0; left: 0; background: #000; z-index: 1; border-top-left-radius: 50px; border-bottom-left-radius: 50px;}
.prd_table_type02 .table_item.per93::before {width: 93%;}
.prd_table_type02 .table_item .text_box {display: flex; align-items: center; justify-content: space-between;}
.prd_table_type02 .table_item .text_box .text {position: relative; font-size: 1.7rem; line-height: 1.17; margin-left: .5rem;}
.prd_table_type02 .table_item .text_box .text .small {font-size: 1.5rem; font-family:'notoM';}
.prd_table_type02 .table_item .text_box .percent {font-size: 1.6rem; line-height: .9; margin-right: 1.25rem;}
.prd_table_type02 .table_item .text_box .percent .gmB {font-size: 3rem;}

/* 이렇게 사용해보세요 */
.prd_howto_type01 .text {font-size:1.5rem;line-height:1.5;color:#000;text-align:center;letter-spacing:-0.05em;}
.prd_howto_type01 .howto_img_box {position:relative;}
.prd_howto_type01 .howto_img_box .gif_box {position:absolute;right:0;top:0;width:67%;}

/* 이니스프리 클린포인트 */
.prd_clean_type01 .clean_list_box .clean_item {display:flex;align-items:stretch;font-size:1.2rem;}
.prd_clean_type01 .clean_list_box .clean_item .text01 {flex:0 0 33%;width:33%;line-height:1.5;padding-bottom:0.75rem;letter-spacing:-0.025em;}
.prd_clean_type01 .clean_list_box .clean_item .text01 span {position:relative;display:inline-block;}
.prd_clean_type01 .clean_list_box .clean_item .text01 span::after {content:'';position:absolute;top:55%;left:0;width:100%;height:8px;background:#f3f0ed;z-index:-1;}
.prd_clean_type01 .clean_list_box .clean_item .text02 {flex:1 1 auto;width:1%;padding-left:1rem;border-left:1px solid #000;font-family:'notoM';color:#000;line-height:1.5;padding-bottom:0.75rem;letter-spacing:-0.05em;}
.prd_clean_type01 .clean_num_box .clean_num_title {height:4rem;line-height:4rem;text-align:center;font-size:1.5rem;border:1px solid #ff6c00;border-bottom:0;}
.prd_clean_type01 .clean_num_box .clean_num {display:flex;border:1px solid #3e2e2e;}
.prd_clean_type01 .clean_num_box .clean_num .text01 {flex:0 0 8rem;width:8rem;;display:flex;align-items:center;justify-content:center;flex-direction:column;}
.prd_clean_type01 .clean_num_box .clean_num .text01 strong {display:block;font-size:4.5rem;line-height:0.8;margin-top:0.9rem;}
.prd_clean_type01 .clean_num_box .clean_num .text01 span {display:block;font-size:1rem;}
.prd_clean_type01 .clean_num_box .clean_num .text02 {flex:1 1 auto;width:1%;padding:1rem;font-family:'notoM';border-left:1px solid #3e2e2e;font-size:1.4rem;color:#000;word-break:keep-all;}

/* 함께 쓰면 더 좋아요 */
/* prd_link_type01 */
.prd_link_type01 .link_box {display:flex;justify-content:space-between;align-items:flex-start;text-align:center;}
.prd_link_type01 .link_box .link_item {flex:0 0 50%;max-width:50%;}
.prd_link_type01 .link_box .link_item:first-child {border-right:1px solid #000;}
.prd_link_type01 .link_box .text01 {font-size:2rem;font-family:'notoM';line-height:1.35;}
.prd_link_type01 .link_box .text01 span {position:relative;padding:0 5px;}
.prd_link_type01 .link_box .text01 span::after {content:'';position:absolute;top:36%;left:0;width:100%;height:1rem;background:#12fff7;z-index:-1;}
.prd_link_type01 .link_box .img_box {width:14.65rem;margin-left:auto;margin-right:auto;}
.prd_link_type01 .link_box .text02 {font-size:1.7rem;font-family:'notoM';letter-spacing:-0.06em;line-height:1.35;}
.prd_link_type01 .link_box .text02 span {display:block;font-size:1.2rem;}
.prd_link_type01 .link_box .btn_box {width:5.25rem;height:1.9rem;margin:0.5rem auto 0;font-size:1.1rem;color:#fff;line-height:1.9rem;background:url('https://images.innisfree.co.kr/kr/ko/upload/pdtDetailNew/makeup/face/cushion/new_nosebum_powder_cushion/img_btn02.png') no-repeat center top;background-size:contain;text-align:left;}
.prd_link_type01 .link_box .btn_box a {display:block;width:100%;height:100%;color:#fff;}
.prd_link_type01 .link_box .btn_box span {padding-left:0.4rem;}

/* prd_link_type02 */
.prd_link_type02 .link_tit {text-align:center;}
.prd_link_type02 .link_tit .text_md {font-size:1.5rem; line-height:1.8; letter-spacing:-0.05em; padding-top:.25rem; padding-bottom:.1rem; border-top:1px solid #000; border-bottom:1px solid #000;}
.prd_link_type02 .link_tit .text_sm {font-size:1.25rem; line-height:1.5; letter-spacing:-0.05em; font-family:'notoR';}
.prd_link_type02 .link_tit .text_lg {font-size:2.1rem; line-height:1.1; letter-spacing:-0.05em;}
.prd_link_type02 .link_box {display: flex; border-top:1px solid #000; border-bottom:1px solid #000;}
.prd_link_type02 .link_box .link_item {display: flex; flex-direction:column; }
.prd_link_type02 .link_box .link_item:first-child {border-right:1px solid #000;}
.prd_link_type02 .link_box .slim {width:40%;}
.prd_link_type02 .link_box .wide {width:60%; padding:1rem;}
.prd_link_type02 .link_box .slim .img_box {margin-top:auto;}
.prd_link_type02 .link_box .slim .img_box img {width:38%;margin-left:auto;margin-right:auto;}
.prd_link_type02 .link_box .slim .text {text-align:center;font-size: 1.2rem;line-height: 1.3;font-family: 'notoM';word-break: keep-all;}
.prd_link_type02 .link_box .wide .text {text-align:center; font-size:1.2rem; line-height:1.75; font-family:'notoM';}
.prd_link_type02 .link_box .btn_box {text-align:center; border-top:1px solid #000; }
.prd_link_type02 .link_box .btn_box a {display:block; font-size:1.5rem; line-height:1.8; padding-top:.15rem; padding-bottom:.15rem;}

/* prd_link_type03 */
.prd_link_type03 .link_box .link_item {display:flex;border-bottom:1px solid #ff6c00;}
.prd_link_type03 .link_box .link_item .left_box {flex:0 0 13rem;width:13rem;border-right:1px solid #ff6c00;text-align:center;display:flex;justify-content:center;align-items:center;}
.prd_link_type03 .link_box .link_item .right_box {flex:1 1 auto;width:1%;}
.prd_link_type03 .link_box .link_item .img_box {display:inline-block;width:40%;}
.prd_link_type03 .link_box .link_item .text_box {padding:3.75rem 0;text-align:center;}
.prd_link_type03 .link_box .link_item .text01 {font-size:1.5rem;line-height:1.45;}
.prd_link_type03 .link_box .link_item .text02 {font-size:1.1rem;}
.prd_link_type03 .link_box .link_item .btn_link {height:3rem;line-height:3rem;text-align:center;font-size:1.5rem;border-top:1px solid #ff6c00;}
.prd_link_type03 .link_box .link_item .btn_link a {display:block;width:100%;height:100%;}

/* prd_link_type04 */
.prd_link_type04 .link_box .link_item {display:flex;align-items:center;justify-content:center;border-bottom:1px solid #F4CC6D;padding-bottom:1rem;}
.prd_link_type04 .link_box .link_item.reverse {flex-direction:row-reverse;}
.prd_link_type04 .link_box .link_item:last-child {border-bottom:none;}
.prd_link_type04 .link_box .link_item .img_box,
.prd_link_type04 .link_box .link_item .text_box {margin:0 0.75rem;}
.prd_link_type04 .link_box .link_item .img_box {width:8.15rem;}
.prd_link_type04 .link_box .link_item .text_box {text-align:center;}
.prd_link_type04 .link_box .link_item .text_box .text01 {font-size:1.7rem;line-height:1.4;}
.prd_link_type04 .link_box .link_item .text_box .text02 {font-size:1.4rem;line-height:1.5;}
.prd_link_type04 .link_box .link_item .text_box .btn_box a {display:block;margin:0 auto;width:6.5rem;height:2.5rem;background:url('./myHairRecipe_hair_care_shampoo/icon03.png') no-repeat center top;background-size:cover;font-size:1.4rem;padding-left:0.4rem;line-height:2.5rem;box-sizing:border-box;text-align:left;}

/* prd_link_type05 */
.prd_link_type05 .link_tit {position:relative;padding:0.75rem 0;text-align:center;line-height:1.4;font-family:'notoM';}
.prd_link_type05 .link_tit::after {content:'';position:absolute;top:99%;left:50%;transform:translateX(-50%);background:url('https://images.innisfree.co.kr/kr/ko/upload/pdtDetailNew/skinCare/cream/jeju_cherry_blossom_toneUp_cream_new/icon03.png') no-repeat center top;background-size:cover;width:2.5rem;height:2rem;}
.prd_link_type05 .link_tit .text_md {font-size:2rem;}
.prd_link_type05 .link_tit .text_lg {font-size:3rem;}
.prd_link_type05 .link_item .text_box {padding:1.4rem 0;text-align:center;font-size:1.7rem;}
.prd_link_type05 .link_item .con_box {display:flex;align-items:center;padding:2.5rem 1rem;background:#F2F2F2;}
.prd_link_type05 .link_item .con_box .prd_box {flex:0 0 35%;width:35%;text-align:center;}
.prd_link_type05 .link_item .con_box .prd_box {margin:0 auto;}
.prd_link_type05 .link_item .con_box .prd_box .prd_name {font-size:1.1rem;font-family:'notoM';}
.prd_link_type05 .link_item .con_box .prd_box .btn_link a {display:block;background:url('https://images.innisfree.co.kr/kr/ko/upload/pdtDetailNew/skinCare/cream/jeju_cherry_blossom_toneUp_cream_new/icon07.png') no-repeat center top;background-size:cover;width:5.25rem;height:1.9rem;text-align:left;margin:0 auto;line-height:1.9rem;padding-left:0.4rem;font-size:1.1rem;box-sizing:border-box;}
.prd_link_type05 .link_item .con_box .prd_text {flex:1 1 auto;width:1%;font-size:1.4rem;line-height:1.4;font-family:'notoM';text-align:center;}

/* prd_link_type06 */
.prd_link_type06 .link_box {display:flex;align-items:stretch;justify-content:center;margin:0 -0.1rem;border-top:1px solid #005B2A;border-bottom:1px solid #005B2A;}
.prd_link_type06 .link_box * {box-sizing: border-box;}
.prd_link_type06 .link_box .link_item {flex:1 1 33.3333%;width:33.3333%;padding:0 0.1rem;text-align:center;}
.prd_link_type06 .link_box .link_item .inner {border:1px solid #005B2A;border-top:none;border-bottom:none;box-sizing:border-box;}
.prd_link_type06 .link_box .link_item:first-child .inner {border-left:none;}
.prd_link_type06 .link_box .link_item:last-child .inner {border-right:none;}
.prd_link_type06 .link_box .link_item .type_text {padding:0.4rem 0;font-size:1.5rem;border-bottom:1px solid #005B2A;}
.prd_link_type06 .link_box .link_item .prd_img {width:7.5rem;min-height:18rem;display:flex;justify-content:center;align-items:flex-end;margin:0 auto;}
.prd_link_type06 .link_box .link_item .prd_name {min-height:5rem;display:flex;justify-content:center;align-items:center;font-size:1.2rem;line-height:1.3;font-family:'notoM';}
.prd_link_type06 .link_box .link_item .btn_link a {display:block;width:100%;height:100%;padding:0.4rem 0;font-size:1.5rem;border-top:1px solid #005B2A;}

/* prd_link_type07 */
.prd_link_type07 .link_wrap .link_tit {font-size:2rem;height:4rem;line-height:4rem;text-align:center;border-top:1px solid #FF6C00;border-bottom:1px solid #FF6C00;}
.prd_link_type07 .link_box {display:flex;justify-content:center;border-bottom:1px solid #FF6C00;}
.prd_link_type07 .link_item {flex:0 0 50%;width:50%;}
.prd_link_type07 .link_item:first-child {border-right:1px solid #FF6C00;}
.prd_link_type07 .link_item .img_box {display:flex;padding-top:1rem;box-sizing:border-box;}
.prd_link_type07 .link_item .img_box img {margin:0 auto;align-self:center;}
.prd_link_type07 .link_item .text_box {text-align:center;line-height:1.3;}
.prd_link_type07 .link_item .text_box .text01 {font-size:1.8rem;}
.prd_link_type07 .link_item .text_box .text02 {font-size:1.2rem;font-family:'notoM';}
.prd_link_type07 .link_item .text_box .text03 {font-size:1.2rem;}
.prd_link_type07 .link_item .btn_link {height:3rem;line-height:3rem;text-align:center;border-top:1px solid #FF6C00;}
.prd_link_type07 .link_item .btn_link a {display:block;font-size:1.5rem;}
.prd_link_type07 .link_item .img_box {height:17rem;}
.prd_link_type07 .link_wrap01 .link_box .link_item:nth-child(1) .img_box img {width:7rem;}
.prd_link_type07 .link_wrap01 .link_box .link_item:nth-child(2) .img_box img {width:14.5rem;}
.prd_link_type07 .link_wrap02 .link_box .link_item:nth-child(1) .img_box img {width:14.5rem;}
.prd_link_type07 .link_wrap02 .link_box .link_item:nth-child(2) .img_box img {width:6rem;}

/* 이런 분에게 추천드려요 */
.prd_reco_type01 .reco_list_box .reco_item {display:flex;align-items:stretch;font-size:1.5rem;}
.prd_reco_type01 .reco_list_box .reco_item .text01 {flex:0 0 22%;width:22%;line-height:1.5;padding-bottom:0.5rem;}
.prd_reco_type01 .reco_list_box .reco_item .text02 {flex:1 1 auto;width:1%;padding-left:0.5rem;padding-bottom:0.5rem;border-left:1px solid #000;color:#000;line-height:1.5;letter-spacing:-0.08em;white-space:nowrap;}

/* 전성분 */
.prd_ingr_type01 .ingr_tit {font-size:1.8rem;text-align:center;color:#000;letter-spacing:-0.06em;}
.prd_ingr_type01 .ingr_tag_box {padding:0.75rem 1rem;background:rgba(231,226,221,.43);text-align:center;font-size:1.1rem;line-height:1.9;}
.prd_ingr_type01 .ingr_tag_box mark,
.prd_ingr_type01 .ingr_tag_box span {margin:0 0.4rem;letter-spacing:-0.06em;}
.prd_ingr_type01 .ingr_tag_box span {position:relative;padding-left:1rem;color:#000;}
.prd_ingr_type01 .ingr_tag_box span::before {content:'';position:absolute;top:50%;transform:translateY(-50%);left:0;width:6px;height:6px;background:#000;vertical-align:middle;}
.prd_ingr_type01 .ingr_tag_box span:nth-child(2)::before {background:#ad9f95;}
.prd_ingr_type01 .ingr_text {word-break:keep-all;font-size:0.9rem;line-height:1.75;text-align:center;color:#000;letter-spacing:-0.075em;}

/* end - 풋비주얼영역 */
.prd_end_type01 .end_text_box {position:relative;padding:1.5rem 0;padding-left: 5px !important;text-align:center;}
.prd_end_type01 .end_text_box::before {content:'';position:absolute;top:0;left:0;width:5px;height:100%;background:#fbba00;}
.prd_end_type01 .end_text_box .text_md {font-size:1.5rem;letter-spacing:-0.05em;}
.prd_end_type01 .end_text_box .text_lg {font-size:2.3rem;letter-spacing:-0.05em;}

/* 2주 사용 설문결과 */
/* prd_result_type01 */
.prd_result_type01 .result_item {display: flex; justify-content: space-between;}
.prd_result_type01 .img_box {width: 43%;}
.prd_result_type01 .list_box {width: 53%;}
.prd_result_type01 .list_box li {display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #000; height: 32.7%; padding-left: 0.5rem; padding-right: 0.2rem;}
.prd_result_type01 .list_box li:first-child {border-top: 1px solid #000;}
.prd_result_type01 .list_box li .listL {font-size: 1.5rem; line-height: 1.3; font-family: 'notoM';}
.prd_result_type01 .list_box li .listR {line-height: 1; padding-top: .7rem; letter-spacing: -.13rem;}
.prd_result_type01 .list_box li .listR .gmB {font-size: 3.6rem;}
.prd_result_type01 .list_box li .listR .gmM {font-size: 1.6rem;}

/* prd_result_type02 */
.prd_result_type02 .result_box {display:flex;flex-wrap:wrap;}
.prd_result_type02 .result_box .result_item {flex:0 0 33.333%;width:33.333%;text-align:center;}
.prd_result_type02 .result_box .result_item .text {font-size:1.6rem;letter-spacing:-0.05em;}
.prd_result_type02 .result_box .result_item .num_circle {position:relative;width:9.85rem;margin-left:auto;margin-right:auto;}
.prd_result_type02 .result_box .result_item .num_circle .num {position:absolute;top:52%;left:50%;transform:translate(-50%,-50%);font-size:3.6rem;}
.prd_result_type02 .result_box .result_item .num_circle .num.sm {font-size:3rem;padding-left:0.75rem;}
.prd_result_type02 .result_box .result_item .num_circle .num em {font-size:1.6rem;color:#000;}

/* prd_color_type01 */
.prd_color_type01 .thumb_item {margin:0 0.5rem;}
.prd_color_type01 .thumb_item .img_box {position:relative;}
.prd_color_type01 .thumb_item .img_box .chk {background:none;background-image:url('https://images.innisfree.co.kr/kr/ko/upload/pdtDetailNew/color_chkBg.png');background-size:cover;position:absolute;top:0;left:0;width:100%;height:100%;}
.prd_color_type01 .thumb_item .text_box {text-align:center;font-size:1.2rem;line-height:1.25;}
.prd_color_type01 .color_thumb_wrap {position:relative;}
.prd_color_type01 .color_thumb_wrap .color_pager .prev {width:1rem;position:absolute;top:50%;transform:translateY(-50%);left:2%;}
.prd_color_type01 .color_thumb_wrap .color_pager .next {width:1rem;position:absolute;top:50%;transform:translateY(-50%);right:2%;}
.prd_color_type01 .slick-slide {outline:none;}
.prd_color_type01 .color_list .color_item {display:none;}
.prd_color_type01 .color_list .color_item:first-child {display:block;}
.prd_color_type01 .color_list .cl_tit {position:relative;text-align:center;font-size:1.5rem;padding:0.4rem 0;}
.prd_color_type01 .color_list .cl_tit .best_mark {position:absolute;left:0;bottom:-1rem;color:#fff;padding:0 0.5rem;background:#293B6E;font-size:1.2rem;font-family:'notoM';line-height:1.25;}
.prd_color_type01 .color_list .cl_tit .best_mark em {font-size:1.5rem;}
.prd_color_type01 .color_list .cl_desc {display:flex;padding:0 0.5rem;}
.prd_color_type01 .color_list .cl_desc .left_box {flex:1 1 auto;width:1%;}
.prd_color_type01 .color_list .cl_desc .left_box img {width:6.8rem;margin:0 auto;}
.prd_color_type01 .color_list .cl_desc .right_box {flex:0 0 26rem;width:26rem;}
.prd_color_type01 .color_list .cl_desc .right_box .text_box {font-size:1.5rem;line-height:1.7;}
.prd_color_type01 .color_list .cl_desc .right_box .incense_box .incense_box_item {display:flex;}
.prd_color_type01 .color_list .cl_desc .right_box .incense_box .incense_box_item .text01,
.prd_color_type01 .color_list .cl_desc .right_box .incense_box .incense_box_item .text02 {font-size:1.2rem;margin:0.25rem 0;line-height:1.25;box-sizing:border-box;letter-spacing:-0.05em;}
.prd_color_type01 .color_list .cl_desc .right_box .incense_box .incense_box_item .text01 {flex:0 0 24%;width:24%;padding:0.25rem 0 0.25rem 0.75rem;border-right:1px solid #000;}
.prd_color_type01 .color_list .cl_desc .right_box .incense_box .incense_box_item .text02 {flex:1 1 auto;width:1%;padding:0.25rem 0 0.25rem 0.75rem;}
.prd_color_type01 .colorset01 .cl_tit {background:#B9D8FC;}
.prd_color_type01 .colorset01 .right_box .text_box .pt {color:#94C0E5;}
.prd_color_type01 .colorset01 .incense_box .incense_box_item:nth-child(1) {background:#ECF4FE;}
.prd_color_type01 .colorset01 .incense_box .incense_box_item:nth-child(2) {background:#CADEF5;}
.prd_color_type01 .colorset01 .incense_box .incense_box_item:nth-child(3) {background:#B9D8FC;}
.prd_color_type01 .colorset01 .incense_box .incense_box_item .text01 {color:#293B6E;}
.prd_color_type01 .colorset02 .cl_tit {background:#E3F6DF;}
.prd_color_type01 .colorset02 .right_box .text_box .pt {color:#008469;}
.prd_color_type01 .colorset02 .incense_box .incense_box_item:nth-child(1) {background:#F1FEEE;}
.prd_color_type01 .colorset02 .incense_box .incense_box_item:nth-child(2) {background:#E3F6DF;}
.prd_color_type01 .colorset02 .incense_box .incense_box_item:nth-child(3) {background:#B2E4A5;}
.prd_color_type01 .colorset02 .incense_box .incense_box_item .text01 {color:#008469;}
.prd_color_type01 .colorset03 .cl_tit {background:#E0CCF9;}
.prd_color_type01 .colorset03 .right_box .text_box .pt {color:#C7A6F2;}
.prd_color_type01 .colorset03 .incense_box .incense_box_item:nth-child(1) {background:#F3EBFC;}
.prd_color_type01 .colorset03 .incense_box .incense_box_item:nth-child(2) {background:#E0CCF9;}
.prd_color_type01 .colorset03 .incense_box .incense_box_item:nth-child(3) {background:#C7A6F2;}
.prd_color_type01 .colorset03 .incense_box .incense_box_item .text01 {color:#445278;}
.prd_color_type01 .colorset04 .cl_tit {background:#E3F3A2;}
.prd_color_type01 .colorset04 .right_box .text_box .pt {color:#3E7668;}
.prd_color_type01 .colorset04 .incense_box .incense_box_item:nth-child(1) {background:#F5F8E7;}
.prd_color_type01 .colorset04 .incense_box .incense_box_item:nth-child(2) {background:#ECF5C3;}
.prd_color_type01 .colorset04 .incense_box .incense_box_item:nth-child(3) {background:#DCEE8E;}
.prd_color_type01 .colorset04 .incense_box .incense_box_item .text01 {color:#164D3F;}
.prd_color_type01 .colorset05 .cl_tit {background:#FCB9C9;}
.prd_color_type01 .colorset05 .right_box .text_box .pt {color:#E5839B;}
.prd_color_type01 .colorset05 .incense_box .incense_box_item:nth-child(1) {background:#FEEEEE;}
.prd_color_type01 .colorset05 .incense_box .incense_box_item:nth-child(2) {background:#F8E5EA;}
.prd_color_type01 .colorset05 .incense_box .incense_box_item:nth-child(3) {background:#FCB9C9;}
.prd_color_type01 .colorset05 .incense_box .incense_box_item .text01 {color:#E61927;}
.prd_color_type01 .colorset06 .cl_tit {background:#FCD9D5;}
.prd_color_type01 .colorset06 .right_box .text_box .pt {color:#EFA39B;}
.prd_color_type01 .colorset06 .incense_box .incense_box_item:nth-child(1) {background:#FFF6F5;}
.prd_color_type01 .colorset06 .incense_box .incense_box_item:nth-child(2) {background:#FBEBEA;}
.prd_color_type01 .colorset06 .incense_box .incense_box_item:nth-child(3) {background:#FCD9D5;}
.prd_color_type01 .colorset06 .incense_box .incense_box_item .text01 {color:#547D67;}
.prd_color_type01 .colorset07 .cl_tit {background:#F8BDB4;}
.prd_color_type01 .colorset07 .right_box .text_box .pt {color:#F27866;}
.prd_color_type01 .colorset07 .incense_box .incense_box_item:nth-child(1) {background:#F9E7E0;}
.prd_color_type01 .colorset07 .incense_box .incense_box_item:nth-child(2) {background:#FEC4BD;}
.prd_color_type01 .colorset07 .incense_box .incense_box_item:nth-child(3) {background:#FBA6A0;}
.prd_color_type01 .colorset07 .incense_box .incense_box_item .text01 {color:#E54B34;}
.prd_color_type01 .colorset08 .cl_tit {background:#82C7FC;}
.prd_color_type01 .colorset08 .right_box .text_box .pt {color:#82C7FC;}
.prd_color_type01 .colorset08 .incense_box .incense_box_item:nth-child(1) {background:#D5E7F5;}
.prd_color_type01 .colorset08 .incense_box .incense_box_item:nth-child(2) {background:#B6DEFC;}
.prd_color_type01 .colorset08 .incense_box .incense_box_item:nth-child(3) {background:#82C7FC;}
.prd_color_type01 .colorset08 .incense_box .incense_box_item .text01 {color:#496DBE;}
.prd_color_type01 .colorset09 .cl_tit {background:#C8D9F1;}
.prd_color_type01 .colorset09 .right_box .text_box .pt {color:#7D95B7;}
.prd_color_type01 .colorset09 .incense_box .incense_box_item:nth-child(1) {background:#E2E8F2;}
.prd_color_type01 .colorset09 .incense_box .incense_box_item:nth-child(2) {background:#AEC2DF;}
.prd_color_type01 .colorset09 .incense_box .incense_box_item:nth-child(3) {background:#7D95B7;}
.prd_color_type01 .colorset09 .incense_box .incense_box_item .text01 {color:#1D212D;}
.prd_color_type01 .colorset10 .cl_tit {background:#F9E08E;}
.prd_color_type01 .colorset10 .right_box .text_box .pt {color:#EBBA1C;}
.prd_color_type01 .colorset10 .incense_box .incense_box_item:nth-child(1) {background:#FFF8E2;}
.prd_color_type01 .colorset10 .incense_box .incense_box_item:nth-child(2) {background:#F9ECC1;}
.prd_color_type01 .colorset10 .incense_box .incense_box_item:nth-child(3) {background:#F9E08E;}
.prd_color_type01 .colorset10 .incense_box .incense_box_item .text01 {color:#0D1F54;}

/* prd_grid_type01 */
.prd_grid_type01 .grid_box {display:flex;}
.prd_grid_type01 .grid_box.reverse {flex-direction:row-reverse;}
.prd_grid_type01 .grid_box .item {flex:0 0 50%;width:50%;}
.prd_grid_type01 .grid_box .item.text_box {background:#E8EAEB;display:flex;align-items:center;justify-content:center;text-align:center;}
.prd_grid_type01 .grid_box .item.text_box .point_text {font-family:'notoM';line-height:1.5;}
.prd_grid_type01 .grid_box .item.text_box .point_text .text01 {font-size:1.7rem;}
.prd_grid_type01 .grid_box .item.text_box .point_text .text01 span {font-size:2rem;color:#5A3C41;}
.prd_grid_type01 .grid_box .item.text_box .desc_text {font-size:1.3rem;line-height:1.77;}


/* 마이팔레트 컬러맵 버튼영역 my_color_map */
.my_color_map .map_btn_box {padding: 3.1rem 3rem 2.6rem 3rem;}
.my_color_map .map_list > li {float: left; width: 46%; height: 5.6rem; margin-right: 6%; margin-bottom: 1.3rem; border: 1px solid #000; background: #fff; box-shadow: 0.5rem 0.5rem #000;}
.my_color_map .map_list > li .map_btn {display: block; width: 100%; height: 100%; font-family: 'notoM'; font-size: 1.6rem; letter-spacing: -.04em; text-align: center;}
.my_color_map .map_list > li:nth-child(2n) {margin-right: 0;}
.my_color_map .map_list > li:nth-last-child(1) {margin-bottom: 0;}
.my_color_map .map_list > li:nth-last-child(2) {margin-bottom: 0;}

/* 마이팔레트 컬러맵 모달팝업 color_map_modal */
.my_color_map_modal {display: none; z-index: 9999; position: fixed; left: 0; top: 0;  background: rgba(0,0,0,0.8); width: 100%; height: 100%;}
.my_color_map_modal .color_map_box {position: absolute; left: 50%; top: 50%; width: 90%; transform: translate(-50%,-50%); padding: 3rem 1.5rem; background: #fff; border: 3px solid #000; box-sizing: border-box;}
.my_color_map_modal .color_map_box .top_box {text-align: center; padding-bottom: 0.75rem; border-bottom: 2px solid #000;}
.my_color_map_modal .color_map_box .top_box .color_map_tit {font-family: 'notoM'; font-size: 1.6rem; color: #1a1a1a;}
.my_color_map_modal .color_map_box .top_box .text01 {font-size: 1.25rem; color: #444;}
.my_color_map_modal .color_map_box .color_list > li {float: left; width: 18%; margin-right: 2.5%; margin-bottom: 0.5rem;}
.my_color_map_modal .color_map_box .color_list > li:nth-child(5n) {margin-right: 0;}
.my_color_map_modal .color_map_box .color_list > li .text02 {font-size: 0.75rem; line-height: 1.25; text-align: center; color: #000;}
.my_color_map_modal .color_map_box .close_btn_wrap {position: absolute; top: 1.5rem; right: 1.5rem; width: 2.3rem;}

/* 전성분 더보기 팝업 */
.ingr_pop_wrap {display: none; z-index: 9999; position: fixed; left: 0; top: 0; background: rgba(0,0,0,0.8); width: 100%; height: 100%;}
.ingr_pop_wrap .pop_box {position: absolute; left: 50%; top: 50%; width: 35rem; height: 35rem; transform: translate(-50%,-50%); background: #fff; overflow-y: auto;}
.ingr_pop_wrap .pop_box .con_box.type01 {display: flex; flex-direction: column; justify-content: center; height: 100%; padding: 0 1rem; text-align: center; }
.ingr_pop_wrap .pop_box .con_box.type02 {padding: 4.75rem 1rem 3.75rem 1rem; text-align: center;}
.ingr_pop_wrap .pop_box .con_box .text01 {font-size: 1.6rem; color: #000;}
.ingr_pop_wrap .pop_box .con_box .text02 {font-size: 0.9rem; letter-spacing: -0.075em; line-height: 1.7; color: #000;}
.ingr_pop_wrap .pop_box .ingr_close_btn {position: absolute; top: 1.5rem; left: 1.5rem; width: 1.75rem; height: 1.75rem; cursor: pointer;}


@media screen and (min-device-width: 740px) {
  /* common : str */
  .prdDetailConWrap2 .prd_sec {margin-top:50px;}
  .prdDetailConWrap2 .mt0 {margin-top:0;}
  .prdDetailConWrap2 .mt5 {margin-top:5px;}
  .prdDetailConWrap2 .mt10 {margin-top:10px;}
  .prdDetailConWrap2 .mt15 {margin-top:15px;}
  .prdDetailConWrap2 .mt20 {margin-top:20px;}
  .prdDetailConWrap2 .mt25 {margin-top:25px;}
  .prdDetailConWrap2 .mt30 {margin-top:30px;}
  .prdDetailConWrap2 .mt35 {margin-top:35px;}
  .prdDetailConWrap2 .mt40 {margin-top:40px;}
  .prdDetailConWrap2 .mt45 {margin-top:45px;}
  .prdDetailConWrap2 .mt50 {margin-top:50px;}
  .prdDetailConWrap2 .mt55 {margin-top:55px;}
  .prdDetailConWrap2 .mt60 {margin-top:60px;}
  .prdDetailConWrap2 .mt65 {margin-top:65px;}
  .prdDetailConWrap2 .mt70 {margin-top:70px;}
  .prdDetailConWrap2 .mt75 {margin-top:75px;}
  .prdDetailConWrap2 .mt80 {margin-top:80px;}
  .prdDetailConWrap2 .mt85 {margin-top:85px;}
  .prdDetailConWrap2 .mt90 {margin-top:90px;}
  .prdDetailConWrap2 .mt95 {margin-top:95px;}
  .prdDetailConWrap2 .mt100 {margin-top:100px;}
  .prdDetailConWrap2 .prd_inner {padding:0 40px;}
  .prdDetailConWrap2 .remark_text14 {font-size:14px;}
  .prdDetailConWrap2 .remark_text16 {font-size:16px;}
  .prdDetailConWrap2 .remark_text18 {font-size:18px;}
  .prdDetailConWrap2 .remark_text20 {font-size:20px;}
  .prdDetailConWrap2 .mark_align02 {padding:5px;}
  .prdDetailConWrap2 .minus_m {margin-left:-40px;margin-right:-40px;}
  .prdDetailConWrap2 .underLine::after {height:20px;}
  .prdDetailConWrap2 .dotT::before {width:8px;height:8px;top:-2px;}
  /* common : end */
  
  /* 페이지 타이틀 - h3영역 */
  .prd_page_tit01 {padding:20px 0;border-width:2px;}
  .prd_page_tit01 .text_sm {font-size:26px;}
  .prd_page_tit01 .text_md {font-size:40px;}
  .prd_page_tit01 .text_lg {font-size:60px;}
  
  .prd_page_tit02 {padding:45px 0 18px;}
  .prd_page_tit02 .text_sm {font-size:30px;}
  .prd_page_tit02 .text_md {font-size:50px;}
  .prd_page_tit02 .number {width:165px;height:50px;top:-25px;line-height:52px;}
  
  .prd_page_tit03 {padding: 15px 0; margin-bottom: 40px; font-size: 50px;}
  .prd_page_tit03:after {bottom: -40px; border-top: 40px solid #000; border-right: 25px solid transparent; border-left: 25px solid transparent;}
  
  .prd_page_tit04 {padding-bottom: 10px; border-bottom: 2px solid #000;}
  .prd_page_tit04 .text_lg {font-size: 50px;}
  .prd_page_tit04 .text_md {font-size: 30px;}

  /* 페이지 서브 타이틀 */
  .prd_sub_tit01 {font-size:36px;}
  .prd_sub_tit01 span {padding:0 10px;}
  .prd_sub_tit01 span::after {height:20px;}
  
  /* top - 키비주얼영역 */
  .prd_top_type01 .top_text_box {padding:60px 0;}
  .prd_top_type01 .top_text_box .top_tit .text_md {font-size:38px;}
  .prd_top_type01 .top_text_box .top_tit .text_lg {font-size:74px;}
  .prd_top_type01 .top_text_box .top_tit .text_gm {font-size:28px;}
  
  /* 텍스트 롤링 */
  /* prd_rolling_text01 */
  .prd_rolling_text01 .rolling_box {width:100%;height:70px;overflow:hidden;position:relative;line-height:70px;}
  .prd_rolling_text01 .rolling_box .rolling_list {position:absolute;height:70px;white-space:nowrap;animation:marquee 10s linear infinite;}
  .prd_rolling_text01 .rolling_box .rolling_list .rolling_item span {padding:0 12px;font-size:34px;letter-spacing:0.1em;}
  
  /* prd_rolling_text02 */
  .prd_rolling_text02 .rolling_con {height:70px;}
  .prd_rolling_text02 .rolling_box {height:70px;line-height:70px;}
  .prd_rolling_text02 .rolling_box .item {padding:0 12px;font-size:32px;}
  
  /* 포인트영역 */
  /* prd_point_type01 */
  .prd_point_type01 .point_tit {padding:10px 40px;}
  .prd_point_type01 .point_tit .point_icon {flex:0 0 140px;width:140px;}
  .prd_point_type01 .point_tit .point_text {padding-left:30px;font-size:36px;}
  .prd_point_type01 .point_tit .point_text span {font-size:50px;}
  .prd_point_type01 .point_desc {font-size:30px;}
  
  /* prd_point_type02 */
  .prd_point_type02 .point_tit {padding-left:30px;font-size:60px;}
  .prd_point_type02 .point_tit .text {flex:0 0 290px;width:290px;}
  .prd_point_type02 .point_sub_tit .text_md {font-size:46px;}
  .prd_point_type02 .point_sub_tit .text_lg {font-size:62px;}
  .prd_point_type02 .point_desc {font-size:28px;}
  
  /* prd_point_type03 */
  .prd_point_type03 .point_tit {padding:15px 0 20px;}
  .prd_point_type03 .point_tit .point_num {font-size:30px;}
  .prd_point_type03 .point_tit .point_num .underLine::after {height:12px;}
  .prd_point_type03 .point_tit .point_text {font-size:52px;}
  .prd_point_type03 .point_desc {font-size:30px;}
  
  /* prd_point_type04 */
  .prd_point_type04 .point_tit {font-size: 32px;}
  .prd_point_type04 .point_tit .tit_inner {max-width: 440px; margin: 0 auto;}
  .prd_point_type04 .point_tit .tit_inner::after {bottom: 11px;}
  .prd_point_type04 .point_sub_tit .text_md {font-size: 30px;}
  .prd_point_type04 .point_sub_tit .text_lg {font-size: 40px;}
  .prd_point_type04 .point_desc {font-size: 28px;}
  
  /* prd_point_type05 */
  .prd_point_type05 .point_tit_box {padding: 50px 0;}
  .prd_point_type05 .point_tit_box .text01 {font-size: 56px; padding: 0 10px;}
  .prd_point_type05 .point_tit_box .text01:after {height: 37px;}
  .prd_point_type05 .point_tit_box .text02 {font-size: 28px;}
  .prd_point_type05 .point_box {padding: 30px 0;}
  .prd_point_type05 .point_box .ico_box {width: 160px;}
  .prd_point_type05 .point_box .text_box .text01 {font-size: 44px;}
  .prd_point_type05 .point_box .text_box .text02 {font-size: 30px;}
  
  /* prd_point_type06 */
  .prd_point_type06 .point_tit {padding:30px 0;}
  .prd_point_type06 .point_tit .text01 {font-size:44px;}
  .prd_point_type06 .point_tit .text02 {font-size:52px;}
  .prd_point_type06 .point_box {padding:50px 40px;}
  .prd_point_type06 .point_box .point_icon {flex:0 0 150px;width:150px;margin-right:30px;}
  .prd_point_type06 .point_box .point_desc .tit {font-size:40px;padding-bottom:15px;border-width:4px;}
  .prd_point_type06 .point_box .point_desc .text {font-size:28px;}

  /* prd_point_type07 */
  .prd_point_type07 .point_tit {padding: 25px 0 25px 100px; font-size: 40px;}
  .prd_point_type07 .point_tit .num {top: 25px; left: 20px; width: 64px; height: 64px; line-height: 64px; font-size: 30px;}
  
  
  /* 리뷰영역 */
  /* prd_review_type01 */
  .prd_review_type01 .review_box {padding:30px 0;border-radius:10px;}
  .prd_review_type01 .text01 {font-size:30px;}
  .prd_review_type01 .text02 {font-size:18px;}
  
  /* prd_review_type02 */
  .prd_review_type02 .review_box {padding:30px 0;}
  .prd_review_type02 .text01 {font-size:30px;}
  .prd_review_type02 .text02 {font-size:18px;}
  
  
  /* 실험결과표 */
  /* prd_table_type01 */
  .prd_table_type01 .table_box .table_item {padding:13px 0;}
  .prd_table_type01 .table_box .table_item .text {padding-left:8px;font-size:32px;}
  .prd_table_type01 .table_box .table_item .percent {font-size:72px;}
  .prd_table_type01 .table_box .table_item .percent::after {height:30px;}
  .prd_table_type01 .table_box .table_item .percent span {font-size:36px;}
  
  /* prd_table_type02 */
  .prd_table_type02 {padding: 25px 30px; box-shadow: 15px 15px rgba(128, 123, 123, .9);}
  .prd_table_type02 .table_item.full:after {height: 30px}
  .prd_table_type02 .table_item.perN:after {height: 30px}
  .prd_table_type02 .table_item.perN:before {height: 30px}
  .prd_table_type02 .table_item .text_box .text {font-size: 34px; margin-left: 10px;}
  .prd_table_type02 .table_item .text_box .text .small {font-size: 30px;}
  .prd_table_type02 .table_item .text_box .percent {font-size: 32px; margin-right: 25px;}
  .prd_table_type02 .table_item .text_box .percent .gmB {font-size: 60px; }
  
  /* 이렇게 사용해보세요 */
  .prd_howto_type01 .text {font-size:30px;}
  .prd_howto_type01 .howto_img_box img {display:block;width:100%;}
  
  /* 이니스프리 클린포인트 */
  .prd_clean_type01 .clean_list_box .clean_item .text01 span::after {height:15px;}
  .prd_clean_type01 .clean_list_box .clean_item .text01 {padding-bottom:15px;}
  .prd_clean_type01 .clean_list_box .clean_item .text02 {padding-bottom:15px;}
  .prd_clean_type01 .clean_list_box .clean_item {font-size:24px;}
  .prd_clean_type01 .clean_num_box .clean_num_title {font-size:30px;height:80px;line-height:80px;border-width:2px;}
  .prd_clean_type01 .clean_num_box .clean_num {border-width:2px;}
  .prd_clean_type01 .clean_num_box .clean_num .text01 {flex:0 0 160px;width:160px;}
  .prd_clean_type01 .clean_num_box .clean_num .text01 strong {font-size:90px;}
  .prd_clean_type01 .clean_num_box .clean_num .text01 span {font-size:20px;}
  .prd_clean_type01 .clean_num_box .clean_num .text02 {font-size:28px;border-width:2px;}
  
  /* 함께 쓰면 더 좋아요 */
  /* prd_link_type01 */
  .prd_link_type01 .link_box .link_item:first-child {border-width:2px;}
  .prd_link_type01 .link_box .text01 {font-size:40px;}
  .prd_link_type01 .link_box .text01 span::after {height:20px;}
  .prd_link_type01 .link_box .img_box {width:293px;}
  .prd_link_type01 .link_box .text02 {font-size:34px;}
  .prd_link_type01 .link_box .text02 span {font-size:24px;}
  .prd_link_type01 .link_box .btn_box {width:105px;height:38px;font-size:22px;line-height:38px;}
  .prd_link_type01 .link_box .btn_box span {padding-left:8px;}
  
  /* prd_link_type02 */
  .prd_link_type02 .link_tit .text_md {font-size:30px;padding-top:5px;padding-bottom:2px;}
  .prd_link_type02 .link_tit .text_sm {font-size:26px;}
  .prd_link_type02 .link_tit .text_lg {font-size:42px;}
  .prd_link_type02 .link_box .wide {padding:20px;}
  .prd_link_type02 .link_box .slim .text {font-size:24px;}
  .prd_link_type02 .link_box .wide .text {font-size:24px;}
  .prd_link_type02 .link_box .btn_box a {font-size:30px; padding-top:3px; padding-bottom:3px;}
  
  /* prd_link_type03 */
  .prd_link_type03 .link_box .link_item .left_box {flex:0 0 260px;width:260px;}
  .prd_link_type03 .link_box .link_item .text_box {padding:75px 0;}
  .prd_link_type03 .link_box .link_item .text01 {font-size:30px;}
  .prd_link_type03 .link_box .link_item .text02 {font-size:22px;}
  .prd_link_type03 .link_box .link_item .btn_link {height:60px;line-height:60px;font-size:30px;}
  
  /* prd_link_type04 */
  .prd_link_type04 .link_box .link_item {border-width:3px;padding-bottom:20px;}
  .prd_link_type04 .link_box .link_item .img_box,
  .prd_link_type04 .link_box .link_item .text_box {margin:0 15px;}
  .prd_link_type04 .link_box .link_item .img_box {width:163px;}
  .prd_link_type04 .link_box .link_item .text_box .text01 {font-size:34px;}
  .prd_link_type04 .link_box .link_item .text_box .text02 {font-size:28px;}
  .prd_link_type04 .link_box .link_item .text_box .btn_box a {width:130px;height:50px;font-size:28px;padding-left:8px;line-height:50px;}
  
  /* prd_link_type05 */
  .prd_link_type05 .link_tit {padding:15px 0;}
  .prd_link_type05 .link_tit::after {width:50px;height:40px;}
  .prd_link_type05 .link_tit .text_md {font-size:40px;}
  .prd_link_type05 .link_tit .text_lg {font-size:60px;}
  .prd_link_type05 .link_item .text_box {padding:28px 0;font-size:34px;}
  .prd_link_type05 .link_item .con_box {padding:50px 20px;}
  .prd_link_type05 .link_item .con_box .prd_box .prd_name {font-size:22px;}
  .prd_link_type05 .link_item .con_box .prd_box .btn_link a {width:105px;height:38px;line-height:38px;padding-left:8px;font-size:22px;}
  .prd_link_type05 .link_item .con_box .prd_text {font-size:28px;}
  
  /* prd_link_type06 */
  .prd_link_type06 .link_box {margin:0 -2px;}
  .prd_link_type06 .link_box .link_item {padding:0 2px;}
  .prd_link_type06 .link_box .link_item .type_text {padding:8px 0;font-size:30px;}
  .prd_link_type06 .link_box .link_item .prd_img {width:150px;min-height:360px;}
  .prd_link_type06 .link_box .link_item .prd_name {min-height:100px;font-size:24px;}
  .prd_link_type06 .link_box .link_item .btn_link a {padding:8px 0;font-size:30px;}
  
  /* prd_link_type07 */
  .prd_link_type07 .link_wrap .link_tit {font-size:40px;height:80px;line-height:80px;}
  .prd_link_type07 .link_item .img_box {padding-top:20px;}
  .prd_link_type07 .link_item .text_box .text01 {font-size:36px;}
  .prd_link_type07 .link_item .text_box .text02 {font-size:24px;}
  .prd_link_type07 .link_item .text_box .text03 {font-size:24px;}
  .prd_link_type07 .link_item .btn_link {height:60px;line-height:60px;}
  .prd_link_type07 .link_item .btn_link a {font-size:30px;}
  .prd_link_type07 .link_item .img_box {height:340px;}
  .prd_link_type07 .link_wrap01 .link_box .link_item:nth-child(1) .img_box img {width:140px;}
  .prd_link_type07 .link_wrap01 .link_box .link_item:nth-child(2) .img_box img {width:290px;}
  .prd_link_type07 .link_wrap02 .link_box .link_item:nth-child(1) .img_box img {width:290px;}
  .prd_link_type07 .link_wrap02 .link_box .link_item:nth-child(2) .img_box img {width:120px;}
  
  
  /* 이런 분에게 추천드려요 */
  .prd_reco_type01 .reco_list_box .reco_item {font-size:30px;}
  .prd_reco_type01 .reco_list_box .reco_item .text01 {padding-bottom:10px;}
  .prd_reco_type01 .reco_list_box .reco_item .text02 {letter-spacing:-0.06em;padding-bottom:10px;}
  
  /* 전성분 */
  .prd_ingr_type01 .ingr_tit {font-size:36px;}
  .prd_ingr_type01 .ingr_tag_box {font-size:22px;}
  .prd_ingr_type01 .ingr_tag_box span::before {width:13px;height:13px;}
  .prd_ingr_type01 .ingr_text {font-size:18px;}
  
  /* end - 풋비주얼영역 */
  .prd_end_type01 .end_text_box {padding:30px 0;padding-left: 10px !important;}
  .prd_end_type01 .end_text_box::before {width:10px;}
  .prd_end_type01 .end_text_box .text_md {font-size:30px;}
  .prd_end_type01 .end_text_box .text_lg {font-size:46px;}
  
  /* 2주 사용 설문결과 */
  /* prd_result_type01 */
  .prd_result_type01 .list_box li {height:33%;padding-left:10px;padding-right:5px;}
  .prd_result_type01 .list_box li .listL {font-size:30px;}
  .prd_result_type01 .list_box li .listR {padding-top:14px;}
  .prd_result_type01 .list_box li .listR .gmB {font-size:72px;}
  .prd_result_type01 .list_box li .listR .gmM {font-size:32px;}
  
  /* prd_result_type02 */
  .prd_result_type02 .result_box .result_item .text {font-size:32px;}
  .prd_result_type02 .result_box .result_item .num_circle {width:197px;}
  .prd_result_type02 .result_box .result_item .num_circle .num {font-size:72px;}
  .prd_result_type02 .result_box .result_item .num_circle .num.sm {font-size:60px;padding-left:16px;}
  .prd_result_type02 .result_box .result_item .num_circle .num em {font-size:32px;}
  
  /* prd_color_type01 */
  .prd_color_type01 .thumb_item {margin:0 10px;}
  .prd_color_type01 .thumb_item .text_box {font-size:24px;}
  .prd_color_type01 .color_thumb_wrap .color_pager .prev {width:25px;left:0;}
  .prd_color_type01 .color_thumb_wrap .color_pager .next {width:25px;right:0;}
  .prd_color_type01 .color_list .cl_tit {font-size:30px;padding:8px 0;}
  .prd_color_type01 .color_list .cl_tit .best_mark {bottom:-20px;padding:0 8px;font-size:24px;}
  .prd_color_type01 .color_list .cl_tit .best_mark em {font-size:30px;}
  .prd_color_type01 .color_list .cl_desc {padding:0 10px;}
  .prd_color_type01 .color_list .cl_desc .left_box img {width:136px;}
  .prd_color_type01 .color_list .cl_desc .right_box {flex:0 0 520px;width:520px;}
  .prd_color_type01 .color_list .cl_desc .right_box .text_box {font-size:30px;}
  .prd_color_type01 .color_list .cl_desc .right_box .incense_box .incense_box_item .text01,
  .prd_color_type01 .color_list .cl_desc .right_box .incense_box .incense_box_item .text02 {font-size:24px;margin:5px 0;}
  .prd_color_type01 .color_list .cl_desc .right_box .incense_box .incense_box_item .text01 {padding:5px 0 5px 15px;}
  .prd_color_type01 .color_list .cl_desc .right_box .incense_box .incense_box_item .text02 {padding:5px 0 5px 15px;}
  
  /* prd_grid_type01 */
  .prd_grid_type01 .grid_box .item.text_box .point_text .text01 {font-size:34px;}
  .prd_grid_type01 .grid_box .item.text_box .point_text .text01 span {font-size:40px;}
  .prd_grid_type01 .grid_box .item.text_box .desc_text {font-size:26px;}
  
  /* 마이팔레트 컬러맵 버튼영역 my_color_map */
  .my_color_map .map_btn_box {padding: 62px 60px 52px 60px;}
  .my_color_map .map_list > li {width: 46%; height: 112px; margin-right: 6%; margin-bottom: 26px; box-shadow: 10px 10px #000;}
  .my_color_map .map_list > li .map_btn {font-size: 32px;}
  
  /* 마이팔레트 컬러맵 모달팝업 color_map_modal */
  .my_color_map_modal .color_map_box {width: 500px; padding: 50px 30px;}
  .my_color_map_modal .color_map_box .top_box {padding-bottom: 15px;}
  .my_color_map_modal .color_map_box .top_box .color_map_tit {font-size: 25px;}
  .my_color_map_modal .color_map_box .top_box .text01 {font-size: 19px;}
  .my_color_map_modal .color_map_box .color_list > li {margin-bottom: 10px;}
  .my_color_map_modal .color_map_box .color_list > li .text02 {font-size: 12px;}
  .my_color_map_modal .color_map_box .close_btn_wrap {top: 20px; right: 30px; width: 38px;}

  /* 전성분 더보기 팝업 */
  .ingr_pop_wrap .pop_box {width: 700px; height: 700px;}
  .ingr_pop_wrap .pop_box .con_box.type01 {padding: 0 20px;}
  .ingr_pop_wrap .pop_box .con_box.type02 {padding: 95px 20px 75px 20px;}
  .ingr_pop_wrap .pop_box .con_box .text01 {font-size: 32px;}
  .ingr_pop_wrap .pop_box .con_box .text02 {font-size: 18px;}
  .ingr_pop_wrap .pop_box .ingr_close_btn {top: 30px; left: 30px; width: 35px; height: 35px;}
  
}